[2016-07-13 15:33] mbjoseph opened #1 "Sort package names in Browse by Package page"
Currently the packages are listed in a somewhat willy-nilly order. If we could list them alphabetically, this would be better.

[2016-07-13 18:10] mbjoseph opened #2 "Check for and remove redundant posts following conversion to md"
Currently, if we edit a Jupyter notebook, changing the date of last commit in the earthlab/tutorials repo, then a new post is generated by convert_notebooks.py without removing the old post. This leads to duplicate posts when we update the tutorials.

[2016-07-13 19:15] #2 closed

[2016-07-13 19:35] #1 closed

[2016-10-05 17:06] lwasser opened #5 "differences w min mistakes"
I have noticed a few differences between this template and min mistakes.

- [x] Earth lab site is that it is not registering as secure. This has something to do with the https but i'm not sure what is triggering security issues. With other sites i've noticed a link to an outside .js script causes issues but i haven't yet tracked one down with our site?
- [x] The _sass dir is missing in earth lab.

[2016-10-05 20:34] lwasser commented on #5
security issue seems to be resolved - 1905cb8234598206a64067654d0d8179310399b3 !!

[2016-10-06 17:58] mbjoseph commented on #5
The rendering issue is resolved too with f4f160c. Yay.

[2016-10-06 18:07] lwasser commented on #5
yes. we are obvious masters of js and all things https now. let's close this!

[2016-10-06 18:07] #5 closed

[2016-10-13 20:00] lwasser opened #8 "do we need read time on the posts?"
hey @mbjoseph the read time on the posts is driving me a bit nuts. it doesn't necessarily relate to the read time of the page because our pages contain code and other stuff on them. Are you ok with my removing it for the time being (i'll just comment it out).

[2016-10-13 20:15] mbjoseph commented on #8
Totally - it was on by default and although it's kind of cute, I don't think it will be missed! Feel free to comment out the relevant lines or remove altogether.

[2016-10-13 20:17] lwasser commented on #8
Great! In the name of cuteness, we could create a time estimate front matter element and populate it with more reasonable estimates?
Or not as that would take brain power for each lesson.

For the time being I’ll comment it out ☺

[2016-12-05 18:48] #8 closed

[2016-12-09 19:51] mbjoseph opened #14 "Continuous integration"
We need to get this bad boy under some kind of CI so we can avoid breaking stuff. I think there are different levels that we could consider:

- [x] Level 0: does the site build?
- [ ] Level 1: can we generate md files from Rmd and Jupyter notebooks, then build the site?

I think we can implement these sequentially - and the level 0 might be a good way to make sure that nothing goes awry while I wo

[2016-12-09 22:12] mbjoseph opened #15 "Alphabetically sorted package/module names in sidebar"
Just now I found myself looking for a tutorial that used a specific Python package, and tried to use the side bar to find it. It seems like this would be easier to do if the packages were listed alphabetically. Is this possible @lwasser?

[2016-12-09 22:19] lwasser commented on #15
Yes! A few options

Sort by library if we are looping through all posts.

{% assign sorted_posts = site.posts | sort:"order" %}

              {% for post in sorted_posts %}

Or – if the loop is looping through a yaml list (which I think it is) list all libraries alphabetically. Right now they are randomly listed. Or see if you can sort on the members loop

https://github.com/earthlab/earthlab.git

[2016-12-09 22:28] lwasser opened #16 "pagination"
I will be adding a PR that turns off the pagination error. to enable pagination in the config
Uncomment these lines.
[code]

Any posts using the "home layout" will use pagination. Currently we aren't using this. We may consider adding this feature to our tutorials page potentially or any pages with lists of content.

See:
https://mmistakes.github.io/minimal-mistakes/docs/layouts/#home-page

[2016-12-09 22:31] lwasser opened #17 "https issues /secure connections"
_From @lwasser on October 12, 2016 23:13_

several of the slideshows use external graphics - which is problematic because they are not https bound and thus trigger a "site is insecure" message in the browser. it would be good to move these graphics into the repo to avoid this issues in the future or to find a way to include non "Secure" graphic content within a secure site. (not likely possible).

[2016-12-09 22:32] lwasser opened #18 "support a bio on the authors page"
_From @lwasser on October 26, 2016 22:46_

Following - issue https://github.com/earthlab/dev-earthlab-site/issues/5 , we may want to add a short bio to each author page. This bio could be stored in a csv file which maps the author slug to an excerpt bio which then gets written to each bio page in the make file. This is future functionality, not stuff we need immediately.

_Copied from original iss

[2016-12-09 22:32] lwasser commented on #18
- [x] leah will create the csv and place into the `_data` dir w headings slug, content
- [ ] @mbjoseph will add code to the workflow to scan the csv for the slug, and add the bio text.

[2016-12-09 22:32] lwasser commented on #18
@mbjoseph  the csv is here -- https://github.com/earthlab/earthlab.github.io/blob/dev/org/author-bios.csv it breaks the site in the data dir.

[2016-12-09 22:32] lwasser opened #19 "Open Science lesson"
_From @lwasser on October 14, 2016 14:57_

- [ ] Create a version of the directory that is cleaned up - with documentation that articulates the elements that improves the dir structure.
- [ ] Consider using better code that demonstrates a richer analysis but also contains duplicated processes that could be functionalized. Create an example with a function that makes the code cleaner.
- [ ] Create

[2016-12-09 22:33] lwasser opened #20 "spatial data management classroom series to do list"
_From @lwasser on November 29, 2016 18:22_

- [ ] /course-materials/intro-spatial-data-r
  - [ ] revise text, add introductory text about spatial data, key issues
  - [ ] add learning objectives
  - [ ] consider making a new page that is raster vs vector
  - [ ] consider adding spatial metadata to this lesson or to the following lesson. i think it should go up front.

- [ ] /course-materials/spati

[2016-12-09 22:33] lwasser opened #21 "flood lessons - TO DO LIST"
## Flood One
- [x] Fix the landing page. Currently the page uses embedded interactive plots which take forever to load. replace those with png's and link to the interactive plot with a clear BUTTON that says click here to view interactive.

## Flood build
- [x] **FIX KNITR** -- Image paths are currently incorrect - they are missing a / and the images aren't rendering on the page.

## Flood Data
-

[2016-12-09 22:33] lwasser commented on #21
http://nwis.waterdata.usgs.gov/usa/nwis/uv/?cb_00060=on&format=gif_default&site_no=06730200&period=&begin_date=2013-01-01&end_date=2013-12-31

it's easiest to go to the station to get data by day / hour.

http://nwis.waterdata.usgs.gov/nwis/uv?cb_00060=on&format=rdb&site_no=06730200&period=&begin_date=2013-01-01&end_date=2013-12-31

[2016-12-09 22:33] lwasser commented on #21
here is our FIGSHARE repo!
https://figshare.com/authors/_/3386570

[2016-12-09 22:33] lwasser opened #22 "Developed Improved Functionality that Supports class lesson styles"
_From @lwasser on December 6, 2016 18:1_

I need to create a style sheet of styles to use for lessons. styles include
- [x] Styles:
  - [x] Challenge Activities
  - [x] Lesson intro (at the top)
- [x] Document style rules in the readme for everyone to see.
- [x] Add code that allows for SECTIONS within a lesson set. Maybe Instructor notes, part 1, part 2 etc.
    * potentially the parts are: Instr

[2016-12-09 22:33] lwasser opened #23 ".rmd / knitr class lessons: To Do List"
_From @lwasser on December 5, 2016 23:35_
## setup lessons
- [x] Review the resources and setup pages.
- [x] This lesson requires that they have Rstudio installed and setup properly with knitr and rmd packages.
- [x] Add install knitr and rmd packages to r studio setup
- [x] Create a setup lesson that has then setup an `earth-analytics` dir at the home. and then a `/data` dir

## rmd lessons
- [ ]

[2016-12-09 22:34] lwasser opened #24 "Search / filter pages"
_From @lwasser on October 17, 2016 21:52_

Jekyll builds the entire site which makes dynamic searching difficult. however one work around is to use JSON to store a record of all pages and generate a search that way

https://github.com/cobbler/jekyll-dynamic-search

we might be able to use this as a work around to generate drop downs that allow users to filter content based upon YAML elements.

_Co

[2016-12-09 22:34] lwasser commented on #24
Another implementation of this: http://jekyll.tips/jekyll-casts/jekyll-search-using-lunr-js/

[2016-12-09 22:34] lwasser opened #25 "code block rendering"
_From @lwasser on November 29, 2016 18:33_

Current - the code is rendering

- [ ] Uuuuuuggggggly - grey is not easy to read
- [x] in blocks - that separate code from results yet the colors don't visually represent that. for the time being remove the individual blocks

Look into tweaking rouge for better highlighting OR use highlight js again which is very nice.

_Copied from original issue: earth

[2016-12-09 22:34] lwasser commented on #25
Use `collapse=T` in the knitr settings options$set in the script to force knitting to all code chunks.

`opts_chunk$set(collapse=T)`

On to ugly code highlighting...

[2016-12-09 22:34] lwasser opened #26 "Better deployment through multiple remotes?"
_From @mbjoseph on December 5, 2016 19:40_

Our current setup for deployment seems clunky due to the copy-pasting, extra steps involved with adding and committing twice, and the resulting set of git histories which do not really match.

Do you think it's worth instead using two remotes named "dev" and "deploy" which point to the `earthlab/dev-earthlab-site` and `earthlab/earthlab.github.io` reposi

[2016-12-09 22:34] lwasser commented on #26
hey @mbjoseph i'll look into it! i don't fully understand how this works in the instance that you want to push just a set of specific files to the live site. if you're commits aren't organized properly, it will be hard to sync properly while you are working on particular sets of files. I may not understand fully how this works.

[2016-12-09 22:34] lwasser commented on #26
_From @mbjoseph on December 6, 2016 16:27_

Ah that's a good point. If we want to only push a set of specific files, how about using branches and pull requests?

[2016-12-09 22:34] lwasser commented on #26
I thought about branches. But again I see the same issue unless you can do a specific pull request on a set of files? Would I have a different branch then for each set of lessons I build? That is the only way I know to do that particular thing

I’m open to this workflow potentially. The challenge will be – it will be confusing for others who want to add content to the site. And we will need to est

[2016-12-09 22:34] lwasser commented on #26
idea -- may or may not make sense. what is we use BRANCHES for new functionality BUT use the other repo for material development. That way, content development issues can happen in the dev repo and functionality in the live site? Just a thought. is that more complicated?  The history of the lesson is then in the dev repo. the history of the site development stays in the main live repo.

[2016-12-09 22:34] lwasser commented on #26
_From @mbjoseph on December 6, 2016 18:52_

That sounds better than our current workflow, but still complicated (e.g., how to easily sync changes between the two repos?). I'm not totally sold on any approach yet - but it seems like the "best" approach would:

- minimize duplication
- be simple to "deploy" specific things to the live site
- not require much git chicanery to keep up to date with lat

[2016-12-09 22:34] lwasser commented on #26
Sounds good. Yea I’m not sold on any of the options yet either. All sound complicated.

All I know is I need to be able to test lessons with functionality as I build content so having a dev space is important for me. We can chat more.

[2016-12-09 22:34] lwasser opened #27 "lidar class lesson to do list"
_From @lwasser on November 30, 2016 2:22_

- [ ] find lidar dataset (boulder??) that is both classified and with RGB colors to use in plas.io
- [ ] data tutorials
    - [ ] subtracting rasters (dsm - dtm)
    - [ ] extracting values from  rasters & compare to ground measured heights

I need to consider how much coding we will actually have time for in this lesson. We can always use the plot.ly plo

[2016-12-09 22:36] mbjoseph commented on #15
If you've got time to test out a simple implementation, feel free! I'm
still not super comfortable tweaking the sidebar.

On Dec 9, 2016 3:19 PM, "Leah Wasser" <notifications@github.com> wrote:

Yes! A few options

Sort by library if we are looping through all posts.

{% assign sorted_posts = site.posts | sort:"order" %}

{% for post in sorted_posts %}

Or – if the loop is looping through a yaml l

[2016-12-09 22:39] lwasser commented on #15
Ok. I think I just broke the site but don’t understand how I just commented out pagination and travis yelled at me.

It builds locally. Any ideas?

[2016-12-09 22:42] mbjoseph commented on #26
I think we can close this one based on our convo yesterday. You comfortable with closing?

[2016-12-09 22:51] lwasser commented on #15
Ok – looking at it quickly there’s no great quick way given it’s a YAML list in the data folder (atleast that I can see) . Sorting posts on a single yaml element is very easy.

Can you just sort the list them you build it in R? If not I’ll keep digging but sorting a yaml list in R is very easy I think?

Lemme know!

[2016-12-09 22:51] lwasser commented on #26
Yes!

From: Max Joseph <notifications@github.com>
Reply-To: "earthlab/earthlab.github.io" <reply@reply.github.com>
Date: Friday, December 9, 2016 at 3:42 PM
To: "earthlab/earthlab.github.io" <earthlab.github.io@noreply.github.com>
Cc: Leah Wasser <Leah.Wasser@Colorado.EDU>, Author <author@noreply.github.com>
Subject: Re: [earthlab/earthlab.github.io] Better deployment through multiple remotes? (#2

[2016-12-09 22:52] mbjoseph commented on #15
Yes.. Shoot. I'm guessing Travis is trying to build your branch and is not
finding .travis.yml and the build script, etc.

I'm in the car right now but we should be able to fix this by specifying
only to build the feature/minimal-travis-ci branch. I can do later this
afternoon!

On Dec 9, 2016 3:39 PM, "Leah Wasser" <notifications@github.com> wrote:

[2016-12-09 22:54] mbjoseph commented on #26
Huzzah!

[2016-12-09 22:54] #26 closed

[2016-12-09 22:56] lwasser commented on #15
Oh yes – that is one error I  saw

Ok the PR is there and you can see the angry messages. Some of which made me cry.
If it’s not my change which is minor, then… please fix.

Lemme know about the sorting. I’ll keep digging but don’t want to spend too much time on that right now if we can just sort when the list is generated which I think is probably better.

[2016-12-09 23:38] mbjoseph commented on #15
Ok Travis should be fine now - it will only build if `.travis.yml` is present.

[2016-12-09 23:39] lwasser commented on #15
Ok! I broke the site about 800 times while you were away.

I’m going to turn off breadcrumbs. I remember what the issue was. They are cool but I think we have to use the auto generated page links. I’ll submit a PR with it turned off soon.

[2016-12-09 23:51] lwasser opened #29 "Setup R, R Studio & File Management To Do LIst"
- [x] Fix graphics on this file organization lesson  to be easier to understand files. Jenny uses screenshots. i think i could create something that is easier to read in illustrator
- [x] Make sure working directory is clearly defined in the setup lesson
- [x] Add setup WD actual content.
- [x] Review content

[2016-12-09 23:59] lwasser opened #30 "breadcrumbs"
Breadcrumbs will work if

1. we have machine and human readable file names
2. use a unique category for each post.

I say we go for it potentially. i'm just listing this as a future enhancement for now as it requires me renaming everything i've done.

[2016-12-11 06:54] mbjoseph commented on #18
Ok, the bios are now included in the authors org pages with 2efd466ebc4372d2c75b5a35fee46a168e15d16b. Next step I think is modifying the post-by-author layout so that the bio text shows up?

[2016-12-12 16:19] lwasser commented on #18
Oh cool - i wasn't expecting you to do it that way BUT that works. Yes adding the bios is easy. i'll assign this back to myself.

[2016-12-12 18:03] lwasser commented on #18
@mbjoseph aren't we pushing to dev first then master? is this on master?  please clarify.

[2016-12-12 18:09] mbjoseph commented on #18
I would push to a new branch with a good name rather than 'dev' by default, with each branch representing one coherent collection of changes. So here you could commit to a branch called feature/include-author-bios, then submit a pull request.

Pushing to master is a bad idea in general, compared to submitting a PR, since we cannot know ahead of time whether the changes will break our build. With a

[2016-12-12 18:14] lwasser commented on #18
That makes sense but -- we are pushing from each branch to master rather than each branch --> dev (representing all current edits for testing) --> master ?

I suppose I thought we were immolating a dev environment here with a dev branch? Right now dev is behind because you pushed stuff to master from another branch.

[2016-12-12 18:17] mbjoseph commented on #18
I think that's a decision that we should make together. My preference would be to keep all changes for a new thing on one branch, and then open pull requests to merge these into master. I like the feature branch -> master branch model because each pull request represents a relatively small set of changes that should be easy to review.

If we instead go with feature -> dev -> master, then merging d

[2016-12-12 18:54] mbjoseph commented on #18
Also, happy to chat offline if that's easier! Maybe we should also think about putting together a `CONTRIBUTING.md` file that let's other people know what our process is.

[2016-12-12 18:56] lwasser commented on #18
Let’s chat in person.

I think your approach works if the changes are small and quick. But – for instance I’m working on things maybe for months. If there are changes on other branches – do I just do PR’s from master then to test integration? How do you test how your edits conflict or not with my edits?  I just need to understand the workflow and all will be fine!

[2016-12-13 00:40] lwasser opened #37 "CI -- question - broken IMAGE embed links"
Does travis support building to find broken image links?
@mbjoseph

Leah

[2016-12-13 00:43] mbjoseph commented on #37
I think so based on: https://github.com/gjtorikian/html-proofer

[2016-12-13 06:08] lwasser commented on #37
Thank you!! the documentation for it is helpful !!

[2016-12-13 06:08] #37 closed

[2016-12-13 06:09] lwasser commented on #30
I think it's working!!

https://github.com/earthlab/earthlab.github.io/tree/feature-breadcrumbs?files=1

[2016-12-13 17:09] lwasser commented on #30
Left to to

- [ ] create intermediate landing pages:
  - [ ] authors.md -- this will be easy and i wanted to have it anyway.
  - [ ] software.md -- these are linked from the language page. Fix: we remove "software" as part of the path. it's not necessary now.

[2016-12-14 00:13] lwasser opened #44 "lib markdown code issues"
Hey @mbjoseph there's an issue with the libs r code:

All of the lib files are being written with BOOLEANS in quotes. This actually negates some of the boolean properties in jekyll. I have a look at the code. How do we force R to not include quotes for these lines? example file: https://github.com/earthlab/earthlab.github.io/blob/master/org/lang-lib/libs/JSAnimation.md

i found this code but am no

[2016-12-14 00:19] lwasser commented on #44
Also title should be in quotes.

[2016-12-14 00:20] lwasser commented on #44
here is an example of a page that is messed up on the live site.

https://earthlab.github.io/tutorials/software/r/scatterplot3d

[2016-12-14 00:38] mbjoseph commented on #44
Hmm weird. Is it sufficient to have `yes` or `no` instead of `true` and `false`? That seems to be the default behavior in the `yaml` R package when using R's native boolean operators in those lists.

[2016-12-14 00:41] lwasser commented on #44
I don’t know. I’ve always used true or false. I code statements like {% if page.comments %} do something if it’s true {% endif %}

Anything in quotes gets red as a string. [] = array and true / false is Boolean.

I’ve never tried yes / no as Booleans. Does R accept yes/no as Booleans?

[2016-12-14 00:45] mbjoseph commented on #44
Ok - maybe liquid accepts yes and no as true and false. It seems weird that the R yaml package translates TRUE to yes otherwise....

[2016-12-14 00:48] lwasser commented on #44
ok. yea i've only used true and false.

also - can you please have a look at this:

https://earthlab.github.io/tutorials/software/python/JSAnimation

i cant find a tutorial that uses this library. do you know of one? if not i will remove it from the yaml list.

[2016-12-14 00:54] mbjoseph opened #45 "Clean up autogenerated lang-lib files upon build"
Currently lang-lib files persist from previous builds whether posts use them or not. The build should check for orphaned lang-libs and remove the files if they're not needed.

[2016-12-14 00:54] mbjoseph commented on #44
I suspect that file was autogenerated, and then I removed the tutorial that it was used in (because it didn't render anyway). I opened #45 to address this - good catch!

[2016-12-14 01:02] lwasser commented on #45
👍

[2016-12-14 01:57] mbjoseph commented on #44
Solved by bb81c6f47ee3c6312216de4dbe2b75e6510de355

[2016-12-14 01:57] #44 closed

[2016-12-14 18:09] lwasser opened #52 "Make Workflow"
Right now the make workflow requires a suite of R packages. Are these documented somewhere to ensure a build? OR is there a way to not force rebuild of EVERY less?
so far i've had to install as not having them crashes out `make`.

* lubridate, rlist, viridis

If you have any ideas with respect to how to refine this process, i'd like to hear them @mbjoseph

i'm also noticing that there are many unn

[2016-12-14 18:19] mbjoseph commented on #52
The R packages required to build the site aren't documented officially anywhere, which is a problem.

We should be able to avoid rebuilding lessons by comparing the date of file creation or last commit between the md and the source file.

I have been lazy with Rmd and tend to not name all my code chunks. I'm happy to change this if you'd rather have all code chunks be named.

Currently author veri

[2016-12-14 18:22] lwasser commented on #52
THANK YOU for the clarification. Sounds like a suite of issues. I can make them if you’d like.

Sorry, Max. So many things keep coming up as I work on things.

Yes I’d like to build lib and author name files against _drafts as well. Named chunks is super minor.

[2016-12-14 18:37] mbjoseph commented on #52
No worries! Thanks for asking - it's one thing knowing that there are
wrinkles to iron out, an another knowing exactly which wrinkles need
ironing. I'll open these as issues and close this one.

On Wed, Dec 14, 2016 at 11:22 AM, Leah Wasser <notifications@github.com>
wrote:

[2016-12-14 18:38] mbjoseph opened #53 "Handle build dependencies in a portable fashion"
Currently, building the site with `make` requires that a collection of R packages and jupyter nbconvert are installed. This needs to be documented and ideally made portable. Docker?

[2016-12-14 18:39] mbjoseph opened #54 "Intelligent rebuilding"
Currently, Rmd files are re-executed at build time even if nothing has changed. This is silly. Instead, files should only be executed if the markdown does not exist or if source code was changed more recently than the markdown.

[2016-12-14 18:40] mbjoseph opened #55 "Rmd code chunk names"
R markdown files should have named code chunks. Currently there are files that don't have chunk names, which should.

[2016-12-14 18:41] mbjoseph opened #56 "Verify authors in drafts"
The author verification currently only looks at posts in the `_posts` directory. We need to also verify authors in files contained in the `_drafts` directory!

[2016-12-14 18:41] #52 closed

[2016-12-14 19:11] lwasser opened #57 "font awesome is awesome"
Come up with a standardized application is awesome icons to
http://fontawesome.io/icons/

1. Header blocks
2. data tips
3. before / next buttons
4. challenge activities

To use icons, you can use the  code code follows:

[code]

http://fontawesome.io/icon/address-book/

I am also working on some `css` to allow for icons of different styles within SASS framework.

[2016-12-14 20:04] lwasser commented on #52
Thanks!

[2016-12-14 21:00] SepidehD opened #58 "earth analytics course week 1 revisions"
hey @lwasser here are some issues i've found with our course:
# Week one edits
- [x] we need an assignment page for week one homework - please create and add it to the sidebar
- [x] The font is small here:
http://localhost:4000/course-materials/earth-analytics/intro-rmarkdown-knitr3

## rmd lessons
- [x] issue one
## install lessons

[2016-12-14 21:03] SepidehD commented on #58
![image](https://cloud.githubusercontent.com/assets/16745365/21200864/0f80d3b4-c206-11e6-8cd4-07e1f0486762.png)

- [ ] please look at this!

[2016-12-14 21:05] lwasser commented on #58
hey @SepidehD i made the change - update your dev-lessons branch locally and see how it looks

[2016-12-14 21:06] SepidehD commented on #58
Looks good! thanks

*- - - - - - - - - - - - - - - - - - Sepideh Dadashi*
Graduate Student and Research Assistant
University of Colorado at Boulder

On Wed, Dec 14, 2016 at 2:05 PM, Leah Wasser <notifications@github.com>
wrote:

[2016-12-14 21:14] lwasser commented on #58
Great!

[2016-12-14 21:37] lwasser opened #59 "Structural Revisions to Course Lesson Pages"
We should make the following visual changes to the pages

1. The left hand side bar is EASY TO MISS! do the following

- [x] Add numbers to the lessons so it looks like they are sequential
- [x] Fix the navigation heading so it's COLORFUL with an ICON to catch people's eye.
- [x] Add the assignment to each lesson set in the navigation!

2. The navigation on the course landing page will get to long

[2016-12-15 00:02] lwasser commented on #59
@SepidehD please have a look at the updated lessons! i've made some visual changes. do they look any better to you?

[2016-12-15 00:03] lwasser commented on #30
@mbjoseph can we close this now? i think we've implemented it and it seems to work.

[2016-12-15 00:46] lwasser commented on #25
@mbjoseph when you have a few... please have a look at the dev-code-highlight branch for a darker code block. i need to fix the line spacing and padding BUT see if you dig the color scheme. If you do i'll tweak the rest of the styles. clean it up. and merge in some other style changes i've made in the dev-lessons branch for a unified styles update PR.

[2016-12-15 01:03] lwasser commented on #25
code stylesheets here:

https://github.com/richleland/pygments-css

[2016-12-15 02:28] mbjoseph commented on #25
Pretty cool! I am having a hard time seeing the parentheses which are dark green on my screen (which is a terrible screen).

Can we choose from any of these themes? http://richleland.github.io/pygments-css/

It might be nice to have one that's got a little more contrast, for folks with potato displays.

[2016-12-15 02:35] lwasser commented on #25
yes, - this is one set of stylesheets! there are others.

1. if the green is the only color that is hard to read - or it's just a few colors- it's SUPER easy to just fix that color. I can show you how to test that on the fly with firebug unless you already know how to do that.
2. We can try another template! it's pretty easy to drop them in - you just have to change-all one thing in the text edito

[2016-12-15 02:36] lwasser commented on #25
the green isn't easy for me to read either now that i look at it.

[2016-12-15 02:57] mbjoseph commented on #25
Ah cool! Nice to know we have options. I'd say that if we can go with a more contrasty theme like fruity or monokai, that would be nice. Or if you're stoked on the existing theme, maybe it's a matter of brightening up that green a bit?

[2016-12-15 04:22] lwasser commented on #25
I'd like to see the potato version first! tomorrow is kinda bizy but maybe Friday we can have a look?
I'm open. i am not crazy about super bright contrasty themes with our current mellow min mistakes feel. so let's find a middle ground!

[2016-12-15 04:24] lwasser commented on #25
![potato](http://i.giphy.com/12a3cXp4zXY1xe.gif)

[2016-12-15 15:56] mbjoseph commented on #56
Solved with #61

[2016-12-15 15:56] #56 closed

[2016-12-15 17:20] mbjoseph commented on #45
Solved with #62

[2016-12-15 17:20] #45 closed

[2016-12-15 19:57] #54 closed

[2016-12-15 20:50] #55 closed

[2016-12-16 02:16] lwasser opened #65 "Travis CI - ALt Tag"
Hey @mbjoseph I'm noticing errors with missing alt tags on my pages. It's easy to fix when i've added the graphics but with knit pages, it isn't there. How did you handle that on the python / notebook side given you can't manually add the alt text for each figure?

[2016-12-16 02:33] mbjoseph commented on #65
Ah I was struggling with this for a while. If I recall, the solution was to use the code chunk option `fig.cap` and also to make sure that when rendering posts, we are outputting GitHub flavored markdown: https://github.com/earthlab/earthlab.github.io/blob/5bc50fe3995b56ba6d87c1426ac2f3a31566e6e6/processing-code/generate_posts.R#L42

[2016-12-16 03:57] lwasser commented on #65
Ok got it!! Thanks!! Down to 2 errors both small!

Leah A. Wasser
---
Director, Earth Analytics Education Initiative
Earth Lab, CU Boulder
twitter: @leahawasser

________________________________
From: Max Joseph <notifications@github.com>
Sent: Thursday, December 15, 2016 7:33:34 PM
To: earthlab/earthlab.github.io
Cc: Leah Wasser; Author
Subject: Re: [earthlab/earthlab.github.io] Travis CI - ALt T

[2016-12-20 21:40] mbjoseph commented on #15
I accidentally fixed this issue with 4de48c8f307eebf7b2ee8e3a0a6f94d06f587a3b

[2016-12-20 21:40] #15 closed

[2016-12-20 22:17] lwasser commented on #15
I hate it when I accidentally fix things. Geez.

[2016-12-22 23:37] lwasser commented on #65
closing!

[2016-12-22 23:37] #65 closed

[2016-12-27 02:11] SepidehD opened #71 "week1"
Hi Leah,

I cannot download data from this link.

![untitled](https://cloud.githubusercontent.com/assets/16745365/21488256/9b7e9fb6-cb9a-11e6-94e3-e1c7aa0da971.jpg)

If you agree, I suggest to have a DATA folder for each week that contains all required data for that week.
We can add the kmz file in DATA folder of week 1, instead of above link.

Best,
Sepideh

[2016-12-27 02:18] SepidehD commented on #71
As you can see in the following figure, there are two same link ( CO flood-google earth). one of them should be removed.

Best,
Sepideh
![image](https://cloud.githubusercontent.com/assets/16745365/21488664/c4e62a04-cb9f-11e6-9c62-5b80f33e7fd5.png)

[2016-12-27 15:07] SepidehD commented on #71
Hi Leah,

There are two different precipitation graphs with the same title:
"Total monthly precipitation- Boulder Co Station". Do we need to keep both?

![image](https://cloud.githubusercontent.com/assets/16745365/21489448/10c52134-cba8-11e6-9acd-59d28ce8553b.png)

![image](https://cloud.githubusercontent.com/assets/16745365/21489465/34b92f9a-cba8-11e6-89e0-1d8ba6af50a3.png)

Best,
Sepideh

[2016-12-27 15:19] SepidehD commented on #71
After precipitation graphs,there are some questions such as  "What differences to you see between 2012 and 2013?"
Answer to these questions is not easy without a snapshot of monthly precipitation of 20012 and 2013.
( Although the precipitation map is interactive).

Best,
Sepideh

[2016-12-30 03:15] lwasser opened #73 "HTML Proofer / travis"
Hey @mbjoseph travis is really becoming a time sync. I'm not sure how html proofer proofs things but it's often saying images aren't there that i see clearly are. or links don't work that clearly do.

Can we fix this? it is really consuming a lot of my time. It's useful if it finds actual broken links and missing alt tags. but sorting through everything and missing / that actually don't impact the

[2016-12-30 04:37] mbjoseph commented on #73
I guess the quickest fix would be to remove this line:
https://github.com/earthlab/earthlab.github.io/blob/dev/script/cibuild#L5

I'm fine with this, if you want to remove it!

[2016-12-30 16:51] lwasser commented on #73
Ok! Let me try a few more things today to understand what it is doing. I got frustrated last night.  Thank you max.

[2016-12-30 18:12] lwasser commented on #57
done!

[2016-12-30 18:12] #57 closed

[2016-12-30 18:13] lwasser commented on #30
closing. I'm convinced breadcrumbs are working now!

[2016-12-30 18:13] #30 closed

[2016-12-30 18:14] lwasser commented on #59
closing this as i'f addressed these issues for the time being. we can reopen with any additional issues.

[2016-12-30 18:14] #59 closed

[2016-12-30 18:15] lwasser commented on #58
closing this as it was fixed!!

[2016-12-30 18:15] #58 closed

[2016-12-30 18:16] lwasser commented on #71
Hey @SepidehD for some reason i didn't get any notifications about this issue! i've changed my setting so hopefully i get them in the future but just in case - please ping me using @lwasser so hopefully i get sent the issue!! i'll look at these items now!

[2016-12-30 18:17] lwasser commented on #71
<img width="653" alt="image" src="https://cloud.githubusercontent.com/assets/7649194/21570254/96c4194e-ce81-11e6-891a-0cabbc2cf224.png">

[2016-12-30 18:19] lwasser commented on #71
@SepidehD i've fixed the data! I agree on the data. I have started folders in figshare

https://figshare.com/articles/CO_Flood_2013_-_Classroom_Lab/4295360

what do you thnk? you can download the entire set of files in batch. or can download just one file from R using download.file()

[2016-12-30 18:22] lwasser commented on #71
<img width="643" alt="image" src="https://cloud.githubusercontent.com/assets/7649194/21570328/413736fe-ce82-11e6-90d7-c7089d6dfaac.png">
fixed!

[2016-12-30 18:26] lwasser commented on #71
ok - i've fixed this all. Have a look again and let me know what you think. If things look good, let's close this issue and create another one if you find more issues. Thank you @SepidehD !!

[2016-12-30 18:28] #29 closed

[2016-12-30 18:29] #23 closed

[2016-12-30 18:29] lwasser opened #74 "Instructor Notes"
Each lesson needs to have instructor notes. We could complete these AFTER we teach the lessons.  Here is a list of notes that need to be created.

- [ ] RMD lessons

[2016-12-30 18:30] lwasser commented on #22
this is all done!

[2016-12-30 18:30] #22 closed

[2016-12-30 18:31] lwasser commented on #18
@mbjoseph i think we've covered this at this point - (except for the contributing file). what do you think? Can we close it?

[2016-12-30 18:32] lwasser commented on #16
this is done.

[2016-12-30 18:32] #16 closed

[2016-12-30 20:15] lwasser opened #75 "Interface edits"
This is all feedback from Lise testing the site.
landing page

- [x] Line up left nav with the "About"
- [ ] Change about to course name or something inline with course home (its different in the breadcrum and in the left nav so that becomes confusing.
- [x] Typo -- graduate OR undergraduate
- [ ] title case the header on the banner
- [x] Example topics of exploration -- instead of example course

[2016-12-31 00:30] mbjoseph commented on #18
I think so - any other technical issues that come up can probably be safely opened as new issues.

[2016-12-31 00:30] #18 closed

[2017-01-02 19:48] SepidehD commented on #71
@lwasser
Hi Leah,
Thank you for your reply. The figshare is a good idea.

There is a miss spelling here (use):
![untitled2](https://cloud.githubusercontent.com/assets/16745365/21595169/27fc3dc0-d0e8-11e6-85a3-da7cf7c6e576.jpg)

"Create a new Rmarkdown file" may not be clear. it will be better if you mention it is under File form main menu.
![image](https://cloud.githubusercontent.com/assets/167453

[2017-01-03 09:43] SepidehD opened #76 "Week 2"
@lwasser
Hi Leah,

There is no other comment  for week 1. Do I have to close it?

for week 2:
Can we have a larger font for this?
![image](https://cloud.githubusercontent.com/assets/16745365/21604057/549980d8-d15e-11e6-8319-d4bbdbd0bbf2.png)

Bast,
Sepideh

[2017-01-03 10:05] SepidehD commented on #76
@lwasser
The font size of all challenges in week 2 is small. Is it possible to have larger size?
![image](https://cloud.githubusercontent.com/assets/16745365/21604627/71123874-d161-11e6-98d9-5f1a403fd801.png)

Best,
Sepideh

[2017-01-03 10:35] SepidehD commented on #76
@lwasser

should be "destfile"?
![image](https://cloud.githubusercontent.com/assets/16745365/21605309/7f00b7ea-d165-11e6-8b97-09bcefe377d0.png)

[2017-01-03 10:43] SepidehD commented on #76
@lwasser

missing leaning objectives for lesson 6:

![image](https://cloud.githubusercontent.com/assets/16745365/21605462/a3a70e36-d166-11e6-9693-1d964efc047e.png)

[2017-01-03 10:54] SepidehD commented on #76
@lwasser
also missing learning objectives for lesson 7.
![image](https://cloud.githubusercontent.com/assets/16745365/21605744/53881290-d168-11e6-8d04-9156453a34cc.png)

Best,
Sepideh

[2017-01-03 15:38] lwasser commented on #71
thank you @SepidehD -- can you update your files and make sure you have the most current ones? Then tell me if you still have a problem creating the file. I put a video in there to walk the user through creating one. but also you may have dated files because i did this last week.

If not - please let me know! Also, can you please add a LINK to the file when you post an issue like the one above? it

[2017-01-03 15:39] lwasser commented on #71
I found the mis spelling - just can't find the other issue where they don't know how to create a file!

[2017-01-03 15:40] lwasser commented on #71
oh @SepidehD  is it this file?? http://localhost:4000/course-materials/earth-analytics/week-1/intro-rmarkdown-knitr2/ not the first one?

[2017-01-03 15:46] lwasser commented on #71
ok @SepidehD please download the latest version and see if it's more clear

721416106e4dfa6dae858c6f5038980efaa2aba0

If it is - please close this issue! then we can create a new issue for other things you see in Week 1! If it is still not good, please let me know.

I'm going to spell check everything. i haven't done that yet.

[2017-01-03 15:50] lwasser commented on #76
hi @SepidehD i am pretty sure the font size is ok now BUT i want to double check. Please make sure your files are up to date. Also can you please add a URL to the lesson for each comment so I know where the issue is. it's hard to tell in some of the comments above.

Thank you so much!

[2017-01-03 15:51] lwasser commented on #76
also - do you remember how to create a list. YOu could create a list of all lessons that are missing learning objectives.

[code]

[2017-01-03 15:52] lwasser commented on #76
i can't find these issues. i'm still wondering if you have the most current version of the lessons. @SepidehD please update and let me know. you can delete anything above that is fixed. if it were a list you could check it off.

[2017-01-03 17:13] SepidehD commented on #71
@lwasser
Hi Leah,

I was updating all the time, but I was using "git pull" instead of " git pull origin dev-lessons" and that was the problem. Sorry!
Everything looks very clear. I went through all the steps from downloading Rstudio to using codes. All the steps were clear.
I have no problem creating the file.
The fonts are large enough to read. As a student, I can say the structure of presenting

[2017-01-03 17:17] lwasser commented on #71
Hey @sepideh – awesome! I wondered ☺

So – please have a look at week 2. Feel free to close any issues that you think I’ve covered.

While you’re going through things, can you please check the following:

Check out this page

http://localhost:4000/course-materials/earth-analytics/week-1/intro-rmarkdown-knitr/

See how the top box has learning objectives with a little hat icon next to it and what y

[2017-01-03 17:18] lwasser commented on #71
![screen shot 2017-01-03 at 10 17 03 am](https://cloud.githubusercontent.com/assets/7649194/21616230/ef43a200-d19d-11e6-9791-9fc4793d4486.png)

[2017-01-03 17:19] lwasser commented on #71
Also any box that is orange - an activity should be labeled either challenge or activity adn should have a pencil icon like this:

![screen shot 2017-01-03 at 10 18 43 am](https://cloud.githubusercontent.com/assets/7649194/21616273/124703f0-d19e-11e6-949b-3d16b9670fd0.png)

[2017-01-03 17:19] lwasser commented on #71
@SepidehD please create links to each page i need to fix - just copy the link in your browser into the list. let me know if this doesn't make sense!

[2017-01-03 17:33] lwasser opened #77 "Week 3 - Lidar Lessons to do list"
- [ ] Make sure the las file is on figshare and make sure it's the best las file to use for the day. it's a bit big so a smaller one might be better.
- [ ] It would be cool for the raster lessons to give them a small point cloud dataset and have them grid it in R. Need to think about this in terms of the learning objectives overlapping / coming too early.
- [ ] the pre and post data are not all th

[2017-01-04 01:23] lwasser commented on #14
@mbjoseph do you think we got this bad boy under control so we can close this now? we aren't building my lessons yet but everything else is building. yea?

[2017-01-04 15:47] mbjoseph commented on #14
Sure thing. If at some point you want to build your lessons as part of the make workflow, we can do that as a separate issue!

[2017-01-04 15:47] #14 closed

[2017-01-04 16:42] lwasser commented on #14
I do. My build process is terrible now. I’d really like to sit down with you sometime to talk about it because

1.       I need to improve my knitr script. And I know you can help guide me

2.       I have a zillion lessons to build and I’m building each set individually.

Maybe after the furniture move we can chat sometime?

From: Max Joseph <notifications@github.com>
Reply-To: "earthlab/earthlab

[2017-01-04 16:44] lwasser opened #78 "Release #?? moving dev --> master"
good morning @mbjoseph  So i'm getting close to a "release".

I'd like to push things live to test everything out well before my course begins. I'm happy to do this as a release BUT i also know i'm going to need to make frequent updates to my content so content development needs to be more agile than releasing functionality. this means i may want to push to master sometimes (text edits, etc as stu

[2017-01-04 19:07] mbjoseph commented on #14
Ok let's plan to touch base after the new furniture arrives.

[2017-01-05 14:45] #76 closed

[2017-01-05 16:26] SepidehD opened #80 "Learning objectives issues"
@lwasser
Hi Leah,

please look at the following issues:

Week 1:
You may want to have a constant format for all lessons. To have a constant format, "Things You’ll Need To Complete This Lesson" could be replaces by " What You Need". Also, there is not small box before them. Please ignore following list if you think "Things You’ll Need To Complete This Lesson" is  fine.

some of the following item a

[2017-01-06 16:51] lwasser opened #81 "mapply /apply vs for loop"
hey @mbjoseph i've been working on my knitr code.

https://github.com/earthlab/earthlab.github.io/blob/dev-lessons/processing-code/knitRMD-2-MD-all-new-files.R

i noticed that you are using a for loop to process each lesson. Couldn't we do this / is it better to do this with mapply or do.call ? I am asking because i actually am having a hard time with getting mapply or do.call to work across a dat

[2017-01-06 16:55] SepidehD commented on #80
@lwasser
Hi Leah,

week2
- [ ] in the main menu, there is no item 2. ( it is item 3 after 1)
![image](https://cloud.githubusercontent.com/assets/16745365/21725114/3e045bb6-d3f4-11e6-923a-18d6f8aabc86.png)
-[ ] the color of challenge box is blue ( should be orange always?)
http://localhost:4000/course-materials/earth-analytics/week-2/spreadsheet-data-in-R/
- [ ] the color of challenge is blue
http:

[2017-01-06 17:34] lwasser commented on #73
@mbjoseph I have a FIX for these pesky links that are OK but are too slow for html-proofer

https://spock.rocks/tech/2016/03/21/basic-jekyll-site-tests.html

we can tell it to ignore particular problematic links that we know are ok
just add `data-proofer-ignore- to your url as i did below.

if you use a markdown url
`<a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.9.516&rep=rep1&

[2017-01-06 17:36] mbjoseph commented on #73
Bravo - that sounds like a great solution! I'm fine with closing this one.

[2017-01-06 17:36] #73 closed

[2017-01-06 17:37] mbjoseph commented on #81
Nice! This is looking better. I don't think we really need to bother with avoiding the loop unless we have a specific reason. If I'm working with a data frame I typically use dplyr::do() rather than do.call or mapply, but for now I'm ok with sticking to the loop. I could be convinced otherwise though.

[2017-01-06 18:21] lwasser commented on #81
Ok. I’d like to understand how to use do.call and mapply so I suppose part of this is a learning opportunity for me ☺ I spent a while on it last night.

For now – I’ll loop through things ☺ when you have a few, could we chat about do() and mapply ?

I get how lists work but can’t wrap my head around the df approach.

[2017-01-06 19:15] lwasser commented on #71
hi @SepidehD  can we close this or did i miss fixing things? Thank you.

[2017-01-06 19:17] lwasser opened #82 "How Do We Collect Homework Assigments? Does CU have a platform for this?"
We need to figure out HOW students will submit homework to us. What does the university use? can we setup a drop box for them to use on d2l?

Then make sure each week assignment has a DATE and instructions how to submit homework.

@SepidehD  can you help me with this? How do other classes work at CU? how do you normally submit assignments?

[2017-01-06 21:32] lwasser opened #83 "slideshow reformat"
we need to reformat this slideshow into our own format. I need to fix a few things including broken links and text.

http://neon-workwithdata.github.io/slide-shows/share-publish-archive-slideshow.html

the file is here:
https://github.com/earthlab/earthlab.github.io/blob/dev-lessons/_slide-shows/3_share-publish-archive-slideshow.html

and the graphics are here:
https://github.com/earthlab/earthlab

[2017-01-06 22:16] lwasser commented on #82
Things to fix in homeworks

- [ ] Date and name needed for activity: http://localhost:4000/course-materials/earth-analytics/week-1/intro-to-markdown/

[2017-01-06 23:22] lwasser commented on #80
hi @SepidehD i have fixed everything here EXCEPT for the instructor notes. I'd like to update those each week AFTER we teach that weeks' content. So if everything else looks good, please close this issue. Thank you for catching all of this.

[2017-01-06 23:23] lwasser opened #84 "Review of all lessons"
Still working through everything - but need to start back up with the rmd lessons.

- [ ] /course-materials/earth-analytics/week-1/knit-rmarkdown-document-to-pdf/
- [ ] http://localhost:4000/course-materials/earth-analytics/week-3/ --  i need to add some content on adding an image to a RMD document.

[2017-01-07 20:50] #71 closed

[2017-01-07 20:51] #80 closed

[2017-01-07 20:55] SepidehD commented on #82
Hi Leah,

Most of the times we use D2L for submitting assignments, however some
professors prefer submitting by email.

I will ask to see how we can set the D2L for this class and let you know.

I closed issues for week 1 and learning objectives.

Best,
Sepideh

*- - - - - - - - - - - - - - - - - - Sepideh Dadashi*
Graduate Student and Research Assistant
University of Colorado at Boulder

On Fri,

[2017-01-09 15:10] mbjoseph commented on #78
Any sense for when we're going to be ready to pull the trigger on this one?

[2017-01-09 19:16] lwasser commented on #78
hey @mbjoseph I feel good about doing it soon if not in the next day or two. I know i'll have content edits over the next week but i would like to see the site live.

[2017-01-11 06:01] lwasser commented on #82
Hey Sepideh. We have a  d2l space already setup. I just haven’t used it before so I was wondering how it’s normally used and if it’s useful?

[2017-01-11 17:30] SepidehD commented on #82
Hi Leah,

I have no access to D2L for this class yet.
Can we set that up for me on Friday?

Best,
Sepideh

*- - - - - - - - - - - - - - - - - - Sepideh Dadashi*
Graduate Student and Research Assistant
University of Colorado at Boulder

On Tue, Jan 10, 2017 at 11:01 PM, Leah Wasser <notifications@github.com>
wrote:

[2017-01-13 17:50] lwasser opened #89 "missing links to readings in week 1"
need to fix ASAP

[2017-01-14 00:45] lwasser commented on #78
hey @mbjoseph i'm not sure if i did this right

https://github.com/earthlab/earthlab.github.io/releases/tag/1.0

these is something weird about the release content as it just has one commit rather than a suite of commits?? no rush but when you have a few have a look! the site is live and working 👍 yeasssssss

[2017-01-18 04:06] lwasser commented on #89
done!!

[2017-01-18 04:06] #89 closed

[2017-01-18 04:06] lwasser commented on #84
done!

[2017-01-18 04:06] #84 closed

[2017-01-18 04:07] lwasser commented on #83
fixed!

[2017-01-18 04:07] #83 closed

[2017-01-18 04:07] lwasser commented on #82
Ok - we have this all setup now! i am closing this issue. thank you @SepidehD !!!

[2017-01-18 04:07] #82 closed

[2017-01-18 04:09] lwasser opened #102 "parse through entire rmd file"
hello @mbjoseph just wondering if you've ever implemented something that parses through an entire RMD file and replaces particular strings?

I have a cool knit to pdf and md flow going but i'll need to do a bit of cleaning on my RMD files to remove html still that pandoc doesn't understand. I thought i could clean the file just for knitting.
Just wondered if you'd done this.

[2017-01-18 18:01] lwasser commented on #102
maybe something like this

https://gist.github.com/mages/1544009

[2017-01-18 20:25] mbjoseph commented on #102
Yes I've done that in the current implementation with rendered md files e.g., here: https://github.com/earthlab/earthlab.github.io/blob/master/processing-code/generate_posts.R#L214

A smarter approach would be to not use R and instead do this stuff in bash with `sed`: http://www.thegeekstuff.com/2009/09/unix-sed-tutorial-replace-text-inside-a-file-using-substitute-command/?utm_source=feedburner&ut

[2017-01-19 02:15] lwasser opened #103 "I broke non class modules"
Right now the class modules load fine however a non class module is missing all of the lessons. Fix this so the lessons load in a classroom format ONLY if there is a class or homework designation on them (or some other flag).

[2017-01-19 22:53] lwasser opened #105 "we should get a domain name: www.earth-analytics.org is available"
@mbjoseph it is available. It's easy to remember and has analytics in it.

we'd have to use the hyphen though.
thoughts?

The next step is we should tag lessons to help with search engine visibility. so a page of lessons on time series, raster data, python, r, etc.

[2017-01-19 22:54] lwasser commented on #103
then i fixed it. magic.
a873654f4d60280e6bb3db5d8be76dece82a8c9d

[2017-01-19 22:54] #103 closed

[2017-01-19 22:59] mbjoseph commented on #105
Maybe we can chat IRL tomorrow if you're around? I think there are pros and cons...

[2017-01-19 23:01] lwasser commented on #105
sure. i'll be in tomorrow.
i'm home practicing my coughing technique today. it's all core.

[2017-01-19 23:02] lwasser commented on #105
also - i don't think i have super powers on this site?
i wanted to change the site description as it's dated now.

https://github.com/earthlab/earthlab.github.io

[2017-01-19 23:07] mbjoseph commented on #105
Ok you should have superhero status now.

[2017-01-19 23:38] lwasser commented on #105
![]9http://gph.is/2iCeO9j)

[2017-01-19 23:39] lwasser commented on #105
![](https://media.giphy.com/media/3o6Ztroynp3WpqLD1u/source.gif)

[2017-01-19 23:43] mbjoseph commented on #105
For me, more commonly:

![](http://gifrific.com/wp-content/uploads/2012/08/Cat-Jumps-at-Wall.gif)

[2017-01-19 23:43] #105 closed

[2017-01-19 23:57] lwasser commented on #105
hah!

[2017-01-24 20:51] lwasser opened #116 "ignore link"
hey @mbjoseph  can you at your convenience please ask html proofer to ignore this link: http://pandas.pydata.org/
in this tutorial?
_site/tutorials/get-cenus-data-with-cenpy/index.html

by adding

HTML url:
[code]

Markdown url:
[code]
It's making travis yell at me when i commit each time :)
Thank you!

[2017-01-24 21:57] SepidehD opened #117 "Week 2"
@lwasser
Hi Leah,

Please find following issues that I found in Week 2:

- [x] in homework session, https://earthlab.github.io/course-materials/earth-analytics/week-2/,
      Create a plot has been repeated two times:
![image](https://cloud.githubusercontent.com/assets/16745365/22265557/c6eeeb00-e239-11e6-8ff5-4b99b564de90.png)

- [ ] It will be better if there is a link for bonus activity here:
!

[2017-01-24 22:04] SepidehD commented on #117
- [ ] Do you want to keep this? should it be a link?
![image](https://cloud.githubusercontent.com/assets/16745365/22268781/fb9ca7fa-e245-11e6-9732-d57be868b94d.png)
https://earthlab.github.io/course-materials/earth-analytics/week-2/aggregate-time-series-data-r/

[2017-01-24 22:12] SepidehD commented on #117
- [ ] Do we need to add a google doc for week 2 ? (  for contributing students in class activities)

[2017-01-24 23:10] lwasser commented on #117
@SepidehD i have cleaned up the assignment. is it more clear?  the two plots that you mention above are DIFFERENT time periods. but the bullets were rendering properly so i fixed that. please have a look at week 2 and let me know what you think .

[2017-01-24 23:13] lwasser commented on #117
![screen shot 2017-01-24 at 4 12 53 pm](https://cloud.githubusercontent.com/assets/7649194/22271079/0f226a58-e250-11e6-8766-0775116f7b1b.png)

[2017-01-24 23:42] lwasser commented on #117
Ok -- seems like week 2 assignment is better based on your email @SepidehD So -- google doc.
We will NOT need a google doc for week 2. BUT i may have them use one for week 3. i need to finish up week 3 lessons!!

If you think i've addressed all of the issues above, please close this issue! if i missed something, please let me know. THANK YOU!

[2017-01-25 03:11] #116 closed

[2017-01-25 17:19] #117 closed

[2017-01-25 17:19] SepidehD commented on #117
I closed the week 2.

Best,
Sepideh

*- - - - - - - - - - - - - - - - - - Sepideh Dadashi*
Graduate Student and Research Assistant
University of Colorado at Boulder

On Tue, Jan 24, 2017 at 4:42 PM, Leah Wasser <notifications@github.com>
wrote:

[2017-01-25 18:54] SepidehD opened #123 "Week 2"
@lwasser

Leah,
( For future),It will be helpful if you mention about the packages and why we need to install packages in R at the beginning of the week 2 -"Get to know R"-.
These information are somewhere at the end of week2.

Best,
Sepideh

[2017-01-25 19:50] lwasser commented on #102
THANK YOU!! i got it to work in my knitting workflow - pdf's for DAYZZZZZ!! closing this :)

[2017-01-25 19:50] #102 closed

[2017-01-25 20:05] SepidehD commented on #123
@lwasser

Leah, There are some SUGGESTIONS for future.

- [ ] at the end of " Getting to know R, there is an optional challenge about plotting. It was better to have an optional challenge related to basics of R that you covered in this session, or basics that they have to learn themselves.

[2017-01-25 20:36] SepidehD commented on #123
- [ ] at the beginning of the "Spreadsheets in R", there are some important issues about downloading and reading files. I think these materials can be in at the end of " Getting to Know R" as a basics of R.
https://earthlab.github.io/course-materials/earth-analytics/week-2/spreadsheet-data-in-R/

Sepideh

[2017-01-25 21:23] SepidehD commented on #123
- [ ] two "of".
![image](https://cloud.githubusercontent.com/assets/16745365/22309748/caf67efe-e309-11e6-8706-5ac0f5f95cb3.png)

https://earthlab.github.io/course-materials/earth-analytics/week-2/precip-in-r/

[2017-01-31 23:04] SepidehD opened #128 "Week 3"
- [x] please delete s!
![image](https://cloud.githubusercontent.com/assets/16745365/22488374/de72b064-e7ce-11e6-8ec6-eb11ed73a202.png)

[2017-01-31 23:13] SepidehD commented on #128
- [ ] please delete "code" in the last sentence.
![image](https://cloud.githubusercontent.com/assets/16745365/22488570/17860698-e7d0-11e6-8620-99a1a25f9f78.png)

https://earthlab.github.io/course-materials/earth-analytics/week-3/

[2017-01-31 23:16] SepidehD commented on #128
- [ ] should the name of file be week 3 ?
![image](https://cloud.githubusercontent.com/assets/16745365/22488628/61e71088-e7d0-11e6-916a-e2db9ba45d61.png)

[2017-01-31 23:18] lwasser commented on #128
Thank you. i'm editing as i see these issues coming in!

[2017-01-31 23:24] SepidehD commented on #128
are references optional?
There is no points for that.

Sepideh

[2017-01-31 23:30] SepidehD commented on #128
Could we ask students (in "import" part) to have an appropriate title for each plot ?
![image](https://cloud.githubusercontent.com/assets/16745365/22489025/6f779626-e7d2-11e6-99f3-c5d3b894c8c3.png)

Sepideh

[2017-01-31 23:36] lwasser commented on #128
great- i just added the title and axis labels and then replaced the last part of the first rubric with the references component.

[2017-01-31 23:42] SepidehD commented on #128
- [ ] I am not sure if plot 5, or 6 need ggplot. maybe I am wrong!

![image](https://cloud.githubusercontent.com/assets/16745365/22489325/129b399c-e7d4-11e6-848f-1e2037ee2695.png)

[2017-01-31 23:44] SepidehD commented on #128
- [ ] There is no Bonus lesson in week3. Are you referring to the last week?
![image](https://cloud.githubusercontent.com/assets/16745365/22489391/7e69ee66-e7d4-11e6-8c0b-7423e149e2d1.png)

[2017-01-31 23:46] lwasser commented on #128
Thank you - i am working too fast. i'm so happy you are catching all of these typos and mistakes. The bonus plot was required of graduate students so i'd like them to include the plot in their report. What do you think? I could not assign a grade for this but it's interesting to look at in the report.

[2017-01-31 23:51] lwasser commented on #128
@SepidehD I am still following your corrections here - but also i just pushed a new version of week 3 following everything above - so in a few minutes hit "refresh"

[2017-01-31 23:54] SepidehD commented on #128
@lwasser
adding a Bonus plot in report is a good idea.

[2017-01-31 23:55] lwasser commented on #128
ok @SepidehD let's just keep that and anyone who adds it gets extra points! that will help them in case they miss other things.

[2017-01-31 23:57] lwasser commented on #128
I just added plot 4 to the rubric below! it was missing @SepidehD  :)

[2017-02-01 00:03] SepidehD commented on #128
@lwasser
I dont know how to reply to your comments directly!

Good catch for the plot 4!

[2017-02-01 00:04] lwasser commented on #128
@SepidehD you can't here BUT you can use the little smiley face to add a +1 to the comment if you agree with it. that is what i did above. i can show you this week if you want!

[2017-02-01 00:07] SepidehD commented on #128
I am practicing using emojis!

[2017-02-01 00:16] lwasser commented on #123
Ok - because these are mostly future edits (i fixed the typo). i created a google doc here - https://docs.google.com/document/d/1v7gCjwtJz3vFBLbqFuCrXc6rxKt6C7dBW_6EseLF6fw/edit so we can close this issue so i can think about the bigger picture of restructuring information! thank you @SepidehD

[2017-02-01 00:16] #123 closed

[2017-02-01 19:25] SepidehD commented on #128
- [ ]
https://earthlab.github.io/course-materials/earth-analytics/week-3/lidar-point-clouds/
If you havent already  is repeated
![image](https://cloud.githubusercontent.com/assets/16745365/22522606/73008526-e879-11e6-80c5-faaf48af45ca.png)

[2017-02-01 19:32] lwasser commented on #128
good catch @SepidehD - i just fixed this!

[2017-02-01 20:16] SepidehD commented on #128
@lwasser

Leah,
how can I get access to the metadata of the .las file?
for example which that we opened in plas.io.

Sepideh

[2017-02-01 20:17] lwasser commented on #128
Good question. Last I checked NEON hadn’t created their metadata yet. :/ the las file should have a header that we can access – I can look into that at the least. When Tristan sent me these files from NEON there were no metadata.

[2017-02-01 20:24] SepidehD commented on #128
@lwasser

Thank you.
I read about the metadata here and I was curious about it.

![image](https://cloud.githubusercontent.com/assets/16745365/22524751/be3adec6-e881-11e6-9407-fd5a7b53677c.png)

[2017-02-01 20:38] SepidehD commented on #128
- [ ] there is no definition of DEM and DSM before this assignment
![image](https://cloud.githubusercontent.com/assets/16745365/22525258/bbd1cd8c-e883-11e6-9c36-3b63b42f1bbb.png)

https://earthlab.github.io/course-materials/earth-analytics/week-3/open-lidar-raster-r/

[2017-02-01 20:41] SepidehD commented on #128
- [ ]  I see the  definition of dsm and dem  in the next lesson.
please skip the above issue.

[2017-02-01 20:59] SepidehD commented on #128
- [ ] the font size is very small
![image](https://cloud.githubusercontent.com/assets/16745365/22525967/ad366758-e886-11e6-88b2-b40075abae6a.png)
https://earthlab.github.io/course-materials/earth-analytics/week-3/lidar-chm-dem-dsm/

[2017-02-01 21:06] lwasser commented on #128
ewww-- yes i need to fix that. more style issues. thank you!

[2017-02-01 21:13] lwasser commented on #128
fixed! @SepidehD the font change may take a few minutes to appear.

[2017-02-01 21:15] SepidehD commented on #128
- [ ] for me it is not clear how to install ggmap:
![image](https://cloud.githubusercontent.com/assets/16745365/22526542/dfce17ea-e888-11e6-9c18-1b4270462039.png)

https://earthlab.github.io/course-materials/earth-analytics/week-3/ggmap-basemap/

[2017-02-01 21:18] lwasser commented on #128
Oh – do you see how it’s done in the code below that is commented out? I’ll review that in class today but that line of code should work AS LONG AS you have that package devtools installed.

From: SepidehD <notifications@github.com>
Reply-To: "earthlab/earthlab.github.io" <reply@reply.github.com>
Date: Wednesday, February 1, 2017 at 2:15 PM
To: "earthlab/earthlab.github.io" <earthlab.github.io@nor

[2017-02-01 21:34] SepidehD commented on #128
I see. Thank you.
Sepideh
On Wed, Feb 1, 2017 at 2:18 PM Leah Wasser <notifications@github.com> wrote:

--

*- - - - - - - - - - - - - - - - - - Sepideh Dadashi*
Graduate Student and Research Assistant
University of Colorado at Boulder

[2017-02-03 22:12] mbjoseph commented on #128
Looks like one of the images for week 3 does not have an alt-tag which is breaking the build: https://travis-ci.org/earthlab/earthlab.github.io/builds/197873273

[2017-02-07 20:41] SepidehD opened #148 "week 4"
- [x] May not be necessary, but it is good that you mention what is sp package.
![image](https://cloud.githubusercontent.com/assets/16745365/22710570/099951f0-ed3b-11e6-80f8-53c3f6a757ec.png)
https://earthlab.github.io/course-materials/earth-analytics/week-4/intro-vector-data-r/

[2017-02-07 20:42] SepidehD commented on #148
-[ ] please delet ebackslash form the end of code:
![image](https://cloud.githubusercontent.com/assets/16745365/22710628/41825706-ed3b-11e6-9565-f82f67eb6af8.png)
https://earthlab.github.io/course-materials/earth-analytics/week-4/intro-vector-data-r/

[2017-02-07 22:26] lwasser commented on #128
ok @mbjoseph we fixed the alt tags last week. thank you for the heads up. I'm noticing travis often gets unhappy when you build a bunch of times in a row. sometimes bad links work when built say - 30 minutes later. The alt tags are ofcourse just breaking life in general. i feel like i'm in alt tag training :)

[2017-02-07 22:31] lwasser commented on #148
good catch @SepidehD  i fixed both of the items above.

[2017-02-07 22:33] lwasser commented on #128
@SepidehD are you comfortable with closing this issue now? i think i've hit everything including @mbjoseph comment above!

[2017-02-07 23:16] SepidehD commented on #128
Yes. I will close week 3.
Sepideh
On Tue, Feb 7, 2017 at 3:33 PM Leah Wasser <notifications@github.com> wrote:

--

*- - - - - - - - - - - - - - - - - - Sepideh Dadashi*
Graduate Student and Research Assistant
University of Colorado at Boulder

[2017-02-07 23:28] SepidehD commented on #148
- [ ] so where are roads in the map?
![image](https://cloud.githubusercontent.com/assets/16745365/22716268/66bb559c-ed52-11e6-8665-e584eb7182cd.png)
https://earthlab.github.io/course-materials/earth-analytics/week-4/intro-vector-data-r/

[2017-02-07 23:28] #128 closed

[2017-02-07 23:30] SepidehD commented on #128
- [ ] should be nice if there is sample of \n in the code:
![image](https://cloud.githubusercontent.com/assets/16745365/22716304/a3fe1692-ed52-11e6-8fe4-5de7a89d87a7.png)
https://earthlab.github.io/course-materials/earth-analytics/week-4/intro-vector-data-r/

[2017-02-07 23:32] lwasser commented on #128
@SepidehD can you please add this to week 4 given week 3 is closed??

[2017-02-07 23:34] SepidehD commented on #148
- [ ]
should be nice if there is sample of \n in the code:
image
https://earthlab.github.io/course-materials/earth-analytics/week-4/intro-vector-data-r/

[2017-02-08 00:11] lwasser opened #152 "analytics missing eeks"
hey @mbjoseph at some point i must have broken GA - it hasn't been registering any users for every and ever. So i just re set it up and it seems to be working now but let's keep an eye on it over the next week weeks to ensure it continues to work!

[2017-02-08 00:40] lwasser commented on #148
aha @SepidehD where are the roads?! the roads weren't added until the challenge exercise. I'm going to have the students do this tomorrow. Do the roads plot with the other data?!!? uh oh!

[2017-02-08 00:42] lwasser commented on #148
Right @SepidehD i need to think about where to put that. i may mention it in class but i think it doesn't belong in an intro to vector data lesson. it belongs in a tips for plotting data in R.

Maybe i could combine that with plotting legends outside of the axes into a second homework lesson?

[2017-02-15 18:30] SepidehD commented on #148
@lwasser
- [ ] you mean week 5?
![image](https://cloud.githubusercontent.com/assets/16745365/22989124/e12abaa0-f371-11e6-8009-0f944a82dfb2.png)
https://earthlab.github.io/course-materials/earth-analytics/week-5/intro-to-coordinate-reference-systems/
https://earthlab.github.io/course-materials/earth-analytics/week-5/shapefile-structure/

[2017-02-15 18:33] lwasser commented on #148
Yes! I just fixed it locally. Let me know what else you catch.

Leah

From: SepidehD <notifications@github.com>
Reply-To: "earthlab/earthlab.github.io" <reply@reply.github.com>
Date: Wednesday, February 15, 2017 at 11:30 AM
To: "earthlab/earthlab.github.io" <earthlab.github.io@noreply.github.com>
Cc: Leah Wasser <Leah.Wasser@Colorado.EDU>, Mention <mention@noreply.github.com>
Subject: Re: [earthla

[2017-02-15 18:48] SepidehD commented on #148
- [ ]  can be more clear? It is not easy to understand the first time you read.
![image](https://cloud.githubusercontent.com/assets/16745365/22989724/30569aa2-f374-11e6-87b6-2536dad460d5.png)
https://earthlab.github.io/course-materials/earth-analytics/week-5/intro-to-coordinate-reference-systems/

[2017-02-15 18:54] lwasser commented on #152
this is working now. I'm closing the issue.

[2017-02-15 18:54] #152 closed

[2017-02-15 18:57] lwasser opened #161 "knit to pdf - cleanup needed"
The pdf's are looking good but I need to work on images.

Currently images embedded in a "figure" html element aren't rendering. I need to gsub out the text to make the image into a markdown `!()[]` embed. This will required some trickery  - so likely a few helper functions.

Then, I need to copy the images folder over to the earth-analytics build, knit the pdf and then delete it.

Unless there is

[2017-02-16 04:05] lwasser opened #169 "week 5 - to do"
* add code to export vector writeOGR() to the reproject vector lesson!

[2017-02-21 20:50] SepidehD commented on #169
- [ ]  import polygon?
![image](https://cloud.githubusercontent.com/assets/16745365/23184337/9b24f794-f83c-11e6-99d3-d4f81bf71f09.png)
https://earthlab.github.io/course-materials/earth-analytics/week-5/reproject-vector-data/

[2017-02-22 21:05] SepidehD opened #172 "week 6"
@lwasser

- [x] please change week 5 to week 6:
![image](https://cloud.githubusercontent.com/assets/16745365/23232293/ee879ec0-f907-11e6-9a85-b1b0eb35bfdf.png)
https://earthlab.github.io/course-materials/earth-analytics/week-6/

[2017-02-22 21:07] SepidehD commented on #172
@lwasser
- [ ]
![image](https://cloud.githubusercontent.com/assets/16745365/23232339/1faa39e0-f908-11e6-8eb5-3792234e39ab.png)
Please change the T to F.

[2017-02-22 21:10] SepidehD commented on #172
@lwasser
- [ ] should not be post- pre NBR?
![image](https://cloud.githubusercontent.com/assets/16745365/23232492/a5c2adb4-f908-11e6-8714-d33903a35ee1.png)

[2017-02-22 21:16] lwasser commented on #172
hey @SepidehD the first two things i just fixed. thank you. I don't understand what you want me to change in the last comment. you mean i should have pre-fire minus post? i think that makes sense if that is what you mean i should change?

[2017-02-22 21:21] SepidehD commented on #172
@lwasser
in the ( ) you mentioned postfire- pre fire NDVI.
I think it should be post fire- pre fire NBR.

[2017-02-22 21:26] lwasser commented on #172
Megan lab states "subtract the NBR on the post-fire image from the NBR on the pre-fire image to create dNBR. This is pre minus post. I'd like to follow her lab. pre is the stable state. why would you subtract the other way?

I know we did it differently in the flood data. but it seems you'd want to start with the stable state.

[2017-02-22 21:41] lwasser commented on #172
OH – I follow you. Ive fixed it.

From: SepidehD <notifications@github.com>
Reply-To: "earthlab/earthlab.github.io" <reply@reply.github.com>
Date: Wednesday, February 22, 2017 at 2:21 PM
To: "earthlab/earthlab.github.io" <earthlab.github.io@noreply.github.com>
Cc: Leah Wasser <Leah.Wasser@Colorado.EDU>, Mention <mention@noreply.github.com>
Subject: Re: [earthlab/earthlab.github.io] week 6 (#172)

[2017-02-22 21:42] lwasser commented on #172
@SepidehD you can continue to edit this during class or later. i'll work on these lessons more over the next few days as i build out next week's lessons.

[2017-03-01 04:37] lwasser opened #180 "travis logs not rendering?"
hey @mbjoseph when you get in to the office tomorrow can you please see if you are able to see the build logs in travis for our site? For some reason the build fails but i can't look at the logs to see where it fails.  i've tried all day today and used different browsers too!

[2017-03-01 04:51] mbjoseph commented on #180
I only see errors too. I know that Amazon S3 crapped its pants today. Don't know whether this would be related...

[2017-03-01 04:53] mbjoseph commented on #180
Looks like they were affected - maybe things will improve tomorrow

https://www.traviscistatus.com/

[2017-03-01 13:04] lwasser commented on #180
Oh ok. I checked the status yesterday and everything was green ! Ok maybe it will be better this morning! I'm glad it's not just me seeing the issue. I was concerned maybe I broke something inadvertently.

________________________________
From: Max Joseph <notifications@github.com>
Sent: Tuesday, February 28, 2017 9:53:02 PM
To: earthlab/earthlab.github.io
Cc: Leah Wasser; Author
Subject: Re: [ear

[2017-03-01 13:06] lwasser commented on #180
Ok it's working now. I jumped the gun. It's just that all yesterday I couldn't access the logs which was concerning! I should have waited another few hours! Thanks!!

Leah A. Wasser
---
Director, Earth Analytics Education Initiative
Earth Lab, CU Boulder
twitter: @leahawasser

________________________________
From: Max Joseph <notifications@github.com>
Sent: Tuesday, February 28, 2017 9:53:02 PM
T

[2017-03-01 19:48] SepidehD opened #183 "week 7"
@lwasser

![image](https://cloud.githubusercontent.com/assets/16745365/23478032/34996cb6-fe7d-11e6-8c41-89b53bc5fa91.png)
you mean what is the best resolution between ,....
or
what is the resolution of ......
https://earthlab.github.io/course-materials/earth-analytics/week-7/

[2017-03-01 20:54] SepidehD commented on #183
- [ ] please change the learning objective

![image](https://cloud.githubusercontent.com/assets/16745365/23480817/8886b8e8-fe86-11e6-8629-f1855ff2b97a.png)
https://earthlab.github.io/course-materials/earth-analytics/week-7/grid-of-plots-report/

[2017-03-01 21:00] lwasser commented on #183
hi @SepidehD -- can you refresh the page to make sure you have the most current version? it says:
What is the spatial resolution for NAIP, Landsat & MODIS data in meters?

But i just changed it to of locally and will push it live soon! just want to make sure you are looking at the most current text!

[2017-03-01 21:09] lwasser commented on #180
Closing this - it's going up and down today - works sometimes, doesn't others. i know it's not something i'm doing so i'm ok with being patient... travis can yell at me using more explicit / specific language when it's online again!

[2017-03-01 21:09] #180 closed

[2017-03-01 21:23] SepidehD commented on #183
- [ ] is it good to bold "in one figure" and refer it to "Grid of plot "section?
![image](https://cloud.githubusercontent.com/assets/16745365/23481954/a1be6ee2-fe8a-11e6-9bcd-bc2b6e806235.png)

[2017-03-01 21:27] SepidehD commented on #183
- [ ]  please skip the above issue. I was your link to " Grid of plots" at the end of question1.

[2017-03-01 21:35] SepidehD commented on #183
- [ ]  It will be more clear if you say week 7 landsat data , instead of newly downloaded data:
![image](https://cloud.githubusercontent.com/assets/16745365/23482415/40720b74-fe8c-11e6-9243-f43a1922c038.png)

[2017-03-01 21:40] lwasser commented on #183
Sorry - can you clarify - i can change this @SepidehD
Do you want me to write "In one figure", draw 3 plots or something like that? this is what you wrote:

[2017-03-01 21:41] lwasser commented on #183
@SepidehD i'm teaching them how to download data from earth explorer today which is why i wrote "newly downloaded" data. Maybe i can clarify by writing

Using the data that you downloaded from Earth explorer? does that work?

[2017-03-05 06:09] SepidehD commented on #183
@lwasser
- [ ] Natural color in Landsat 8 is : 432, while it is 423 in here:
![image](https://cloud.githubusercontent.com/assets/16745365/23584999/14947faa-012f-11e7-9afd-6fda6b683b21.png)
https://earthlab.github.io/course-materials/earth-analytics/week-7/grid-of-plots-report/

[2017-03-05 06:10] SepidehD commented on #183
- [ ] generally, g and b bands are missed place ( I think!)
https://earthlab.github.io/course-materials/earth-analytics/week-7/grid-of-plots-report/

[2017-03-05 06:18] SepidehD commented on #183
- [ ]I am looking at this website:
https://blogs.esri.com/esri/arcgis/2013/07/24/band-combinations-for-landsat-8/

The combination of colors is different from what we have on website. For example, CIR is 543, while we have 523 on website. Is it my misunderstanding?? Please look at this page:
https://earthlab.github.io/course-materials/earth-analytics/week-7/grid-of-plots-report/

[2017-03-05 16:35] SepidehD commented on #183
- [ ] it will be perfect if we have name of the bands on each histogram:
![image](https://cloud.githubusercontent.com/assets/16745365/23589268/fbadec62-0186-11e7-8191-b9f740e4030f.png)
https://earthlab.github.io/course-materials/earth-analytics/week-7/modis-data-in-R/

[2017-03-05 17:30] SepidehD commented on #183
- [ ]  should be fixed?  there are some plots in this page that have missed some part of the legend.
![image](https://cloud.githubusercontent.com/assets/16745365/23589673/a3712f98-018e-11e7-9d29-32f5e5bd3155.png)
https://earthlab.github.io/course-materials/earth-analytics/week-7/refine-plots-report/

[2017-03-05 17:58] SepidehD commented on #183
- [ ] it will be fine if you refer to "variable to markdown report "  to be more clear what you mean by "state values in your answer"
![image](https://cloud.githubusercontent.com/assets/16745365/23589853/86f6a790-0192-11e7-98df-1d4e4dedf7d3.png)

[2017-03-05 18:05] SepidehD commented on #183
- [ ] it will be more clear if you talk about mfrow few lines above, when you ask for making  one plot.
![image](https://cloud.githubusercontent.com/assets/16745365/23589890/3feaec2a-0193-11e7-8423-70bc2694a9aa.png)

here:
![image](https://cloud.githubusercontent.com/assets/16745365/23589907/9f15e6c8-0193-11e7-9099-a22cbc6a8d83.png)

[2017-03-06 18:58] lwasser commented on #183
hey @SepidehD keep this feedback coming. it's great. you are catching some mistakes in the lessons which is very good. I'm slowly working on fixing everything. the band mixup on the plots was a very important find. it was just wrong - i was typing too quickly.

Note - the histogram, i'd have to show them how to change the names of each band. it's not hard to do - and i can do it. it's just another

[2017-03-07 16:04] lwasser opened #192 "week 8 - functions lessons to do"
Hey @mbjoseph I just pushed a draft of 3 lessons to the dev-lessons branch! It includes an intro lesson with the DRY principle outlines + then the SWC function lessons broken into two sections.

- [x] Task: @mbjoseph please have a look and edit as you see fit when you have a few today.?
- [x] Point of "attention": @mbjoseph we haven't worked with vectors much in class. We did a bit in week 2 but t

[2017-03-07 16:04] lwasser commented on #169
@SepidehD i'm not sure what this comment means. they are importing a shapefile here. can you please clarify?

[2017-03-07 16:06] lwasser commented on #148
hey @SepidehD i'm going to close this issue as i think we've covered it all!

[2017-03-07 16:06] #148 closed

[2017-03-07 16:06] lwasser commented on #81
closing this issue for now!

[2017-03-07 16:06] #81 closed

[2017-03-07 16:07] lwasser commented on #77
closing this - we taught these lessons!

[2017-03-07 16:07] #77 closed

[2017-03-07 16:07] lwasser commented on #21
closoing this - as this was taught!!

[2017-03-07 16:07] #21 closed

[2017-03-07 16:08] lwasser commented on #27
this is complete - taught in week 4

[2017-03-07 16:08] #27 closed

[2017-03-07 17:42] SepidehD commented on #169
@lwasser the comment is importing point, while it is polygon

[2017-03-07 17:47] lwasser commented on #169
Ahhh that makes sense. Thank you for the clarification. If you don’t mind being a bit more specific in your feedback it will help me identify what you are calling attention to. Thank you sepideh!

Leah

[2017-03-07 20:45] mbjoseph commented on #192
Awesome @lwasser - working on it now!

[2017-03-07 21:36] lwasser commented on #192
thank you @mbjoseph i just rebuilt and pushed back to dev-lessons. i fixed one thing - one of your function examples had a function called my_function yet you called modify_x(). i went with the  more expressive name but feel free to adjust if you don't like it!

Thank you again for working with me on this.

[2017-03-07 21:48] mbjoseph commented on #192
Awesome - that's what I meant to do - read my mind!

[2017-03-07 21:59] lwasser commented on #183
is there anything else for week 7 @SepidehD  ?? i wasn't sure what lesson the last comment is about? i couldn't find it in the homework assignment which is what the other lessons seems to refer to ?

[2017-03-07 21:59] lwasser commented on #183
the histogram uses names from the data. i'd have to show them how to fix that which would take some manual editing. i may fix it but i want to think about it a bit more!

[2017-03-08 00:14] lwasser opened #195 "question about function etiquette"
@mbjoseph
when you have a few - please review this page and give me feedback:

https://github.com/earthlab/earthlab.github.io/blob/dev-lessons/_posts/course-materials/earth-analytics/week-8/in-class/2016-12-06-automation02-function-example-r.Rmd

I'd like to create a function for plot RGB. it would be easiest for a user to provide a stack and then the bands that they want to plot within that stack

[2017-03-08 16:27] mbjoseph commented on #195
I think I'd prefer to have the three arguments instead of one vector because it's easier to understand. We can also use it to show how defaults work, and how you can pass arguments to functions within your function (e.g., feed `r`, `g`, and `b` directly to `plotRGB()`

[2017-03-08 17:19] lwasser commented on #195
Perfect. Ok thank you, Max!
I do like the idea of having default values which is what plotRGB() does.
Leah

[2017-03-09 20:22] lwasser opened #202 "fix link please?"
hey @mbjoseph -- so there is an issue with one link

`https://www.census.gov/data/developers/data-sets.html`

in this tutorial:
`./_site/tutorials/get-cenus-data-with-cenpy/index.html`

The tutorial lin works just fine so as far as i can tell so all that needs to happen is the link needs a data proofer ignore tag. you don't have to delete the link.

Please use the examples below to turn off the da

[2017-03-09 20:52] #192 closed

[2017-03-09 20:52] lwasser commented on #169
this has been fixed !!

[2017-03-09 20:52] #169 closed

[2017-03-09 20:57] lwasser commented on #172
Ok - all of these things have been done!

[2017-03-09 20:57] #172 closed

[2017-03-09 23:06] lwasser commented on #183
ok - i finally got the histograms to plot. i had to comment out mfrow so for the time being i'm going to call this issue good. can we close it @SepidehD  ?? ill push the new histograms shortly live!

[2017-03-10 00:05] #183 closed

[2017-03-15 00:44] lwasser opened #205 "Lessons by topic - EA course"
Add a page that lists lessons by topic. This will make it easier for students to "look up" a lesson that teaches them how to do things... for instance like "classify" a raster or "create legends".

[2017-03-15 16:56] lwasser opened #207 "week 3 course edits"
- [ ] add a lesson on spatial extents (this should be lesson 7 and crop raster should be lesson 8 (pull from DC materials) -- this could also be a section in the intro to lidar raster data lesson.
- [x] add a lesson that introduces the `geotiff format`. This could be lesson 4 and then open a raster in R could be lesson 5.
- [ ]  it's probably useful to include a lessons on raster classification -

[2017-04-05 01:29] lwasser opened #218 "mutate_at vs mutate_each_"
Hey @mbjoseph i'm running into some odd behaviour with mutate_at. Can i show you tomorrow?

[2017-04-05 01:37] lwasser commented on #218
oh nevermind... i shoulda waited 5 more minutes
the syntax is actually slightly different

`mutate_at(c( "age", "malepopulation", "year"),as.numeric)`

**RESOLVED**

![](https://media.giphy.com/media/26hiszcPLzWh4t3jy/giphy.gif)

[2017-04-05 01:38] lwasser commented on #218
![](https://media.giphy.com/media/11sBLVxNs7v6WA/giphy.gif)

[2017-04-05 17:49] lwasser commented on #24
@mbjoseph  Ok - i just did another search and found a way to search using google.

http://digitaldrummerj.me/blogging-on-github-part-7-adding-a-custom-google-search/

there may be other options but google is a robust and potentially simple one!

[2017-04-05 17:50] #218 closed

[2017-04-05 17:50] #195 closed

[2017-04-05 21:34] mbjoseph commented on #24
Sick! Looks pretty easy. 🤓

[2017-04-06 00:40] lwasser commented on #24
It does! My api class was frustrating so maybe I'll tackle some lower hanging fruit tomorrow!! It seems super easy to implement.

________________________________
From: Max Joseph <notifications@github.com>
Sent: Wednesday, April 5, 2017 3:34:26 PM
To: earthlab/earthlab.github.io
Cc: Leah Wasser; Mention
Subject: Re: [earthlab/earthlab.github.io] Search / filter pages (#24)

Sick! Looks pretty eas

[2017-04-11 15:00] SepidehD opened #230 "Week_10"
@lwasser
- [x] it should be week 10 instead of week 8?
![image](https://cloud.githubusercontent.com/assets/16745365/24912050/38c920d8-1e8a-11e7-8d6e-babbf104a274.png)

- [ ] The last sentence is true?
![image](https://cloud.githubusercontent.com/assets/16745365/24912310/f775e2aa-1e8a-11e7-823a-535f9d562f82.png)

- [x] then we work with the?
![image](https://cloud.githubusercontent.com/assets/16745

[2017-04-11 15:49] lwasser commented on #230
Good catch! I'm having a few Internet issues. Once resolved I'll fix this!! Thank you!!!

Leah A. Wasser
---
Director, Earth Analytics Education Initiative
Earth Lab, CU Boulder
twitter: @leahawasser

________________________________
From: SepidehD <notifications@github.com>
Sent: Tuesday, April 11, 2017 9:00:03 AM
To: earthlab/earthlab.github.io
Cc: Leah Wasser; Mention
Subject: [earthlab/earthla

[2017-04-11 15:56] lwasser commented on #230
hey @SepidehD thank you! i do want them to show us their code this week because we want to see how they are getting their data. it will be easier to grade that way!!

I fixed the landing page typos and the lesson typos. the landing page typos will be live now or soon but the other typos won't be live until i push a huge new set of edits live to the website. i didn't want to do that while the stude

[2017-04-11 16:11] SepidehD commented on #230
- [ ]  The last sentence is not very clear for me.
![image](https://cloud.githubusercontent.com/assets/16745365/24916417/535d0a6a-1e97-11e7-8bab-e4121a158997.png)
https://earthlab.github.io/course-materials/earth-analytics/week-10/intro-to-programmatic-data-access-r/
Thank you Leah!
I am reading the materials since I have office hours today.
I will keep posting if I found other issues.

See you so

[2017-04-11 16:13] lwasser commented on #230
Great! i can tell you more tomorrow @SepidehD I had to redo a lot of the lessons because some of the code was wrong. it was right last year when Carson taught it but things have changed! However i wanted to be careful about changing things the day before the lesson is due SO -- i'll totally make all of the edits that ou find today BUT won't push them until tomorrow at noon. Thanks again.

no one c

[2017-04-11 16:14] lwasser opened #231 "Move .rmd files to a private repo"
Currently lessons are hosted on the main git site. However because we are storing answers in those lessons, i'd like to move all .Rmd files to a PRIVATE course repo where i can develop lessons and then push content accordingly to the live site.  This will mean a bit of replication of content but only .md files

[2017-04-11 16:41] SepidehD commented on #230
- [ ]  the x axis should not be year?
![image](https://cloud.githubusercontent.com/assets/16745365/24920137/60f1dd2a-1ea3-11e7-95f7-0f5d3c13d50b.png)

https://earthlab.github.io/course-materials/earth-analytics/week-10/access-gapminder-data-rcurl-r/

[2017-04-11 18:50] SepidehD commented on #230
@lwasser
in assignment, at the top you asked for submitting html and rmd. At the end, you asked for pdf and rmd.

now, I am looking to submitted assignments. The html files contain just codes, it doesnt show the plots.
is there any way to see the plots in html?

Sepideh

[2017-04-11 18:52] lwasser commented on #230
Yes – we talked about this. If you download all of the assignments to your computer, you can see the plots.they are only masked online in d2l.

If they selected pdf the leaflet map won’t plot. So that is why I asked for HTML.

[2017-04-11 18:53] SepidehD commented on #230
thank you.

I see.
Sepideh

*- - - - - - - - - - - - - - - - - - Sepideh Dadashi*
Graduate Student and Research Assistant
University of Colorado at Boulder

On Tue, Apr 11, 2017 at 12:52 PM, Leah Wasser <notifications@github.com>
wrote:

[2017-04-11 19:00] lwasser commented on #230
I just fixed the pdf vs html thing so it was consistent. Thank you for catching that inconsistency. But I’m ok if they submit pdf’s – its just that it won’t work with leaflet so if they don’t do the bonus point, a pdf is just fine. However html is preferred.

[2017-04-12 18:48] lwasser commented on #230
ok @SepidehD all of the edits above should be live. please close this unless there is anything else that you caught that needs to be fixed! i do want the students to show their code this week so that part of the assignment is just fine. everything else i fixed (i think!)

[2017-04-13 15:12] lwasser opened #239 "domain name revisited"
@mbjoseph  i've thought about our domain  name and a few are still available.
if we want to get earth lab as our name out there...

earthlabcu.org is available for 7.99! i know how to setup it up via godaddy to link to our site.
earth-analytics.org is also available (unfortunately the dash is required)

our site is currently completely ignored by google although it has crawled it. i'm not sure why

[2017-04-13 15:14] mbjoseph commented on #239
Top of the morning @lwasser! I think earthlabcu.org sounds great.

[2017-04-13 15:16] lwasser commented on #239
Top of the morning!! ☺ Great. I’ll talk to Chelsea about purchasing it today or tomorrow. I’m happy to use my EDU budget for this.

Leah

[2017-04-13 15:19] mbjoseph commented on #239
We could also think about selling off some of our Goldfish cracker reserves if need be - I bet we could get away with a 200% mark-up if we pair it with some cold water from the water coolers.

[2017-04-13 15:22] lwasser commented on #239
ahhh yes - i like how you think @mbjoseph excellent business approach. maybe bring this up as a revenue stream option at our team meeting later??  ;) btw we should also emphasize the $$ in waste associated with goldfish on the floor around SEEC. i found one bugger on the stair well  the other day ! he had  jumped ship apparently due to fear of being sold in the goldfish black market.

[2017-04-13 15:36] lwasser commented on #239
we have a manual restriction on our site as spam!! working on it.

[2017-04-13 15:36] mbjoseph commented on #239
Ha! That's hilarious. I can imagine someone might have grabbed a handful on their way out.

It's also worth bringing up the possibility of raising a herd of chinchillas to get some wool out of this setup (chinchilla wool - so hot right now https://www.etsy.com/market/chinchilla_wool). I'm not sure what the current carrying capacity would be for a population in our space, but I would guess we could

[2017-04-13 15:41] lwasser commented on #239
ahhhhh YES. i like wildlife route. it will add vibrance and energy to our lab. the earth stuff is interesting but really biology is where it's at. It could also be worth considering alpacas or LLAMAS . they could protect the chinchillas given they are a valuable species but also alpaca fur is quite a commodity itself so we could add to both lab safety and revenue to our goldfish - cooler water bla

[2017-04-13 15:45] mbjoseph commented on #239
Now we're talking - but what are the llamas going to be protecting the chinchillas from? Maybe it's worth getting some cats to round out the food web?

[2017-04-13 16:04] lwasser opened #240 "we are the spammiest spammers every - google SPAM flag"
Ok -- we have been flagged as a site dedicated to pure spam! oh yes.  believe it.
Looking at our home page i realized we made a fatal error in the design. There is no dynamic content even though we've been generated TONS of new lessons every week. tons and tons. That is a flag and a poor decision on my part in terms of home page design.

Given this - i'm working on some code to add "recent modules

[2017-04-13 16:31] lwasser commented on #240
ok @mbjoseph have a look at the search branch and see what you think about the home page. IT's not perfect but i think it's better in terms of highlighting dynamic site content . if you are ok with it i'll push it live later. The search issue will take a few weeks atleast to sort out although i'm hoping maybe a new url COULD be helpful to us. that url won't be spam tagged like ours is.

[2017-04-13 16:57] lwasser commented on #239
I think that any well developed science Lab should involve a well rounded food chain. Solid.

________________________________
From: Max Joseph <notifications@github.com>
Sent: Thursday, April 13, 2017 9:45:09 AM
To: earthlab/earthlab.github.io
Cc: Leah Wasser; Mention
Subject: Re: [earthlab/earthlab.github.io] domain name revisited (#239)

Now we're talking - but what are the llamas going to be p

[2017-04-13 17:19] mbjoseph commented on #240
I think the home page looks much better! Feel free to push.

I was looking for a search bar and then realized that you mentioned you turned it off (basmati rice, right?).

[2017-04-13 18:24] lwasser commented on #240
Yes! I turned it off because we are spam marked and it won't work till they unflag us! Boo. We r so spammy .

Sweet I'll push it live later. Thanks!

Leah A. Wasser
---
Director, Earth Analytics Education Initiative
Earth Lab, CU Boulder
twitter: @leahawasser

________________________________
From: Max Joseph <notifications@github.com>
Sent: Thursday, April 13, 2017 11:19:37 AM
To: earthlab/earthl

[2017-04-14 03:42] lwasser opened #242 "tagging revisited"
Holy potatoes @mbjoseph - i figured it out. we can use nested tagging however i suggest we use a new tag name - even if it's tag2 rather than the built in jekyll tag element. we can use the tag element for something else! So the to do's
- [x] Finish up code that loops through posts and generates counts (this requires the next step to be completed  <<LEAH >>
- [x] Tag each lesson in the course less

[2017-04-14 15:16] mbjoseph commented on #242
💯 💯 💯 💯 💯 💯 💯 💯 💯 💯

[2017-04-14 19:30] lwasser opened #243 "Tagging ontology"
Here is an initial take on tags - not completely developed. going to add to it as i go through my course. feedback welcome!

Week 1 - lessons - tag additions
- [x] change tags2 --> topics
- [x] change topics --> subtopics in the _data/topics.yml file
- [x] change all lessons to use topics rather than tags 2
- [x] trying spectral-remote-sensing out as a category
- [x] adding flood-erosion as a scie

[2017-04-17 22:37] lwasser commented on #240
merged! closing

[2017-04-17 22:37] #240 closed

[2017-04-18 14:35] lwasser opened #245 "BUG ALERT - someone can't count..."
Note - the lesson count on the landing page is messed up. the wrong numbers are appearing.

https://earthlab.github.io/

it works just fine on the course materials page so leah needs to revisit her code and fix whatever is wrong in the loop that makes the lesson count not work properly. If only we could write nice little liquid functions but instead i may consider writing an include file to use in

[2017-04-18 22:04] lwasser opened #246 "The world is ending: week one is repeating itself and we are a DRY standard operation"
https://earthlab.github.io/course-materials/earth-analytics/week-1/

fix the side bar cause it's bonkers. i probably did this  in all of my code enhancements...

[2017-04-18 22:06] lwasser commented on #243
i don't like other as a category but i want time series in there so... any thoughts @mbjoseph lemme know. i'm just looking at my lessons and thinking about various tags we may want to employ

We could do something like` data-type: spatial, time-series, tabular ?? ` i kinda like that actually.

[2017-04-19 00:30] mbjoseph commented on #243
I like `data-type` as a field @lwasser - I would also vote for replacing `file-structures` with `file-format`. I'm not sure that `literate-programming` and `functions` are part of `open-science` - I might lump those together with `programming` or something more general (`skills`?) that might encapsulate things like stats methods/machine learning/analytical techniques. Is there a benefit to having

[2017-04-19 03:11] lwasser commented on #243
good calls. we want to use words that are general enough that people use them ie data models is more accurate but less know vs file formats which i like - it's more general but specific enough that people would search for it! skills is too generic - imagine searching for "skills" in google! great edits - i'll make these now and we can continue to build on this. i think we don't want too many super

[2017-04-19 03:14] lwasser commented on #243
hmmm ok i want to have open-science and / or reproducible science in there or both. those will be key terms for earth lab @mbjoseph ... thoughts on where to fit those in?

[2017-04-21 15:57] lwasser opened #252 "Earth Lab Site Title"
Hey @mbjoseph  before you leave for your super fun pre-wedding extravaganza... our website is finally being indexed by google. But what's coming up is "Earth Lab Resources" over and over.

This is not a good site title as it sounds like stuff for earth lab. Let's come up with something better like

* data lessons - earth lab
* data tutorials  & course materials
* work with data - earth lab
* open

[2017-04-21 16:31] mbjoseph commented on #252
I would vote for work with data (but is this too close to NEON's WWDI?) or data lessons or data tutorials and course materials among those. Other ideas:

- Earth data science lessons
- Earth Lab data science
- Data science lessons - Earth Lab

[2017-04-21 16:32] mbjoseph commented on #252
Also

![](https://www.mountainproject.com/images/69/77/106296977_large_a8b0c9.jpg)

[2017-04-21 16:56] lwasser commented on #252
oh man!!!!! whipper territory eh? i miss climbing. i need to get back to it when i'm less obsessed with mountain running.

Unfortunately NEON does use WOrk With Data as the banner of the site SO...good point. Let's think of something different .

Let's see: I like where you're going
* Earth Data Science - Earth Lab (i actually kinda like this given data science is a buzz word now and we add earth

[2017-04-21 17:06] mbjoseph commented on #252
I like "data science" over "analytics". They're both non-terms in their own right, but data science might be more descriptive (I often think of web analytics when people say analytics).

![](http://www.slacklineindustries.com/assets/helen-richardson---cd16highline__2hr5957-(1).jpg)

[2017-04-21 17:20] lwasser commented on #252
me too!! i think data science is a more clear term. So earth data science to start with? We can change it it just will help us with our rank i think to pick meaningful terms.

on goodness high lining is so freakin scary. is that eldo? cause i love me some eldo.

[2017-04-21 17:48] lwasser commented on #246
This is fixed locally - still testing but will push updates once i'm convinced it works throughout.

[2017-04-21 21:44] lwasser opened #254 "week 2 & 3, 5, 8 - course edits"
## Final project
- [ ] it doesn't make sense to grade per plot here. Just grade overall - legends used, etc and make sure there are atleast 4
- [ ] emphasize early on that before doing the veg index you'd want to look at the data - histograms and plot RGB are a good start - this would be in a data-exploration learning objective.
- [ ] probably good to show them how to plot a nice text table?
- [ ]

[2017-04-21 23:27] lwasser commented on #246
e5704287635f9ec3ca774b7cb85d9e3427316c7a fixed!

[2017-04-21 23:27] #246 closed

[2017-04-21 23:28] lwasser commented on #245
fixed as well - e5704287635f9ec3ca774b7cb85d9e3427316c7a

[2017-04-21 23:28] #245 closed

[2017-04-28 22:42] lwasser opened #256 "week 12 - social media"
- [ ] Add sentiment analysis to climate change exploration...
- [ ] Also revisit tagging and visualization is a large part of this and advanced pipes

[2017-05-01 18:24] lwasser commented on #243
SO now the question is -- should text-mining be embedded in `data-analysis-exploration:` rather than it's own category. Do we envision subcategories surrounding time-series at this point? We can change it later but right now it's hanging.

[2017-05-01 19:23] mbjoseph commented on #243
Yep - I think text mining can be logically treated as contained within data analysis.

For time series, there's probably potential for subcategories at some point (e.g., autoregressive, moving average, vector autoregressive, ...?).

[2017-05-02 20:19] lwasser commented on #252
hey @mbjoseph so while you were gone, i got earthdatascience.org as a domain name given we landed on that before you left. SHould we use it here?

In an ironic series of events it turns out that my program is likely going to be named earth-data-analytics

Google says:
* Analytics is discovery, interpretation, and communication of meaningful patterns in data
* Data science, also known as data-drive

[2017-05-02 20:20] lwasser commented on #252
oh also @mbjoseph it does seem that data science is a better key word -- more known than analytics... and i don't have the url. i'm just keen to get the URL in place as it takes so long to index things.!

[2017-05-02 20:21] lwasser commented on #230
Closing this as i've made all of these changes!!

[2017-05-02 20:21] #230 closed

[2017-05-02 20:22] lwasser commented on #242
Ok - revisiting this @mbjoseph we should chat IRL about the ontology -- right now i have R and python embedded as tags in "Scientific programming" but also a nest language option. it's worth revisiting this now before doing too much more work to the site! when you feel recovered and caught up from all of your adventures, lemme know!!

[2017-05-02 20:55] mbjoseph commented on #252
I'm fine with either - still leaning toward data science over analytics. Plus, I like that earthdatascience.org differentiates the content here from pure "earth lab" content. That said, I'm happy to go with your gut on this one!

[2017-05-02 20:56] mbjoseph commented on #242
Sounds good @lwasser - maybe we can chat tomorrow after lunch?

[2017-05-02 20:57] lwasser commented on #242
that works for me @mbjoseph !!

[2017-05-02 21:01] lwasser commented on #252
I actually really like earthdatascience.org a lot and that's why i bought the domain! Let's go with it @mbjoseph if you are on board !! :) I think in the end the URL is important to get visibility BUT really the text on our pages will drive traffic!!  So those excerpts, tags, etc are HUGE. Also i don't like data-analytics two a's next to each other. eek.

So - maybe when we talk we should

- [ ] D

[2017-05-02 22:21] lwasser commented on #252
Ok - DNS servers are now setup to forward earthdatascience.org to our git site. Once we add a CNAME to our git repo it will be ready to go (1-2 days to propagate)  yeeassss ... so it's just sitting for now!

[2017-05-03 21:24] mbjoseph opened #259 "Programmatic checks for topics and subtopics when running make"
We'd like to programmatically check that topics and subtopics that are tagged in the front matter of posts:

1. Exist and are associated with the correct topic in `earthlab.github.io/_data/topics.yml` (edit: formerly tags2.yml)
2. Exist as markdown files in `earthlab.github.io/org/topics/`

If either of these conditions are not satisfied when running we want to raise an error!@$

[2017-05-04 03:20] lwasser opened #260 "Brainstorm -- Time series sub topics"
This issue is to flesh out a few time-series related sub-categories! I started to brain storm this ...
I already teach convert-dates although that's not the best set of words that people would search on. Convert-string-to-date?

Let me know what you think @mbjoseph (when you're back in the office at a reasonable time of the day)!!
[code]

[2017-05-04 03:55] lwasser commented on #252
I'm going to close this!! we have a plan to implement the new URL on Friday!! :)

[2017-05-04 03:55] #252 closed

[2017-05-04 03:57] lwasser opened #263 "Do we need to distinguish between tutorials and modules or series"
Currently we have two types of content

1. tutorials that are single lessons produced by the analytics hub (not always however potentially!)
2. course modules where a set of lessons exist around a topic MOST OFTEN (but not always) taught in a course.

This issue is to open the discussion surrounding whether / how we want to distinguish between these two types of content in our topic pages. There a

[2017-05-04 03:58] lwasser commented on #242
Ok! i'm going to open a more specific issue surrounding languages and libraries and close this issue given we addressed it together today IRL!!

[2017-05-04 03:58] #242 closed

[2017-05-04 04:00] lwasser opened #264 "Implement language / lib nested ontology"
Currently we have yaml implementation of language and lib as follows:

[code]
A better, nested approach would allow us to build a yaml list as follows
[code]
The next step is to implement the code that will allow us to parse lessons by language with a list of associated libs if they exist for that language. This will allow us to have several language in a lesson if we want.

[2017-05-04 04:05] lwasser commented on #78
i am closing this - i made this release and we don't need to re-address it at this point!!

[2017-05-04 04:05] #78 closed

[2017-05-04 04:06] lwasser commented on #202
closing this!! travis is generally unhappy about lots of URL's that work these days...

[2017-05-04 04:06] #202 closed

[2017-05-04 04:08] lwasser commented on #74
closing this as i decided to not include these pages for the time being...

[2017-05-04 04:08] #74 closed

[2017-05-04 15:10] mbjoseph commented on #260
Hiya @lwasser!

Is there an advantage of going singular vs. plural? I'm wondering whether `julian-day` is more or less visible than `julian-days`.

I would also add `date-time` or `convert-date-time` to the list if people have time of day data.

[2017-05-04 17:24] lwasser commented on #260
@mbjoseph  I added convert-date-time my guess is the pural shouldn't be a huge issue as generally i think search engines know how to deal with those types of things so they can search more effectively BUT with that said - what do you think is more common? let's go with that? i don't know.

[2017-05-04 17:24] lwasser commented on #260
Also - think if we have convert dates then convert-date-time probably is just broader. i'd suggest we remove convert-dates to keep things clean!!

[2017-05-04 17:29] lwasser opened #268 "Granularity of file-formats"
hey @mbjoseph i just realized that the file-formats element could get really crazy quickly

[code]
I'm thinking H5, h4, netcdf, all of the 8 billion text formats. JSON, Geojson, etc etc

i wondered if we wanted slightly more general bins like

Hierarchical-data-format-hdf
network-common-data-form-netCDF
text-files  <- csv, txt, etc all here
structured-data <- xml, json etc

i keep going back and f

[2017-05-04 17:41] mbjoseph commented on #260
Roger dodger. I agree `convert-date-time` is probably more general. I think the singular version is probably more common, but that's just a hunch!

[2017-05-04 17:58] lwasser opened #269 "Google analytics permissions"
Hey @mbjoseph did you setup Google analytics for earthlab? If so can you please give me super powers? (using my cu email) ?

[2017-05-04 19:27] mbjoseph commented on #269
You are now super powered!

![](http://1funny.com/wp-content/uploads/2012/01/tiny-superheros.jpg)

[2017-05-04 19:27] #269 closed

[2017-05-04 19:33] lwasser commented on #269
![](https://media.giphy.com/media/xT8qBp0R5SxfLMIgjC/giphy.gif)

[2017-05-04 22:23] lwasser commented on #260
ok done!! closing this. thanks for the input!

[2017-05-04 22:23] #260 closed

[2017-05-05 16:50] lwasser opened #272 "Hide tags with counts of 0"
Currently the list of tags on the left includes tags with count of 0. Adjust the liquidity to hide tags where count ==0

[2017-05-05 16:54] lwasser commented on #272
https://github.com/earthlab/earthlab.github.io/pull/273 fixed

[2017-05-05 16:54] #272 closed

[2017-05-08 17:27] mbjoseph opened #274 "Duplicate map keys in yaml front matter`"
In the process of updating our `make` workflow, I ran across a duplicate `course` field in the front matter of `_posts/course-materials/earth-analytics/week-1/setup-r-rstudio/2016-12-04-setup-01-r-rstudio.md`.

One of the entries is `"Earth analytics"` and another is `'earth-analytics'`. In looking at the rest of the posts, it seems like `earth-analytics` is the preferred entry. I am going to keep

[2017-05-08 17:43] #274 closed

[2017-05-08 18:13] mbjoseph opened #277 "Duplicate Reproducible Science Curriculum Community authors"
Heya @lwasser - it looks like we have duplicate authors for the reproducible sci curriculum stuff. We have both "Reproducible Science Community" with slug `reproducible-science-community` and "Reproducible Science Curriculum Community" with slug `reproducible-science-curriculum-community`.

We should keep just one (the second?), and update all of the necessary code/posts to reflect this! If you le

[2017-05-08 18:16] mbjoseph opened #278 "Update author biographies"
Our `org/author-bios.csv` file could use some bio entries. I can fill in the entries for Analytics Hub people, but it would be great it @lwasser can fill in some bios for other people!

[2017-05-08 18:19] lwasser commented on #274
Cool! i want to use all lower case! Thank you for finding this ☺ I will eventually need to build a YAML list of courses but I haven’t thought out the use cases just yet !!

[2017-05-08 18:20] lwasser commented on #277
yes... let's keep

`reproducible-science-curriculum-community`

Also i think there are a few other author duplicated - possibly neon data skill and skills ? thank you for catch these things!! let me know what you need on my end. i can always do a global search and destroy in ATOM if need be.

[2017-05-08 18:32] lwasser commented on #277
ok -- if this looks good we can close this

299476c9e39e28666d454b15af913e20afc0ee8e

lemme know what else you catch! i can't find NEON Data Skill anywhere. i'm wondering if somehow i fixed it but the YAML list still has the duplicate via some iteration of make????

[2017-05-08 18:33] lwasser commented on #278
@mbjoseph do you think i can include url's and such in the bios? i can work on this -- maybe not immediately but in the next week.

[2017-05-08 18:34] mbjoseph commented on #277
Stupendous. That did the trick! Thanks @lwasser

[2017-05-08 18:34] #277 closed

[2017-05-08 18:35] lwasser commented on #277
sorry - also note that there are several residual .md files ... how should we handle this @mbjoseph  ?? manual delete? i'm happy to delete now but just want to check before i do so!

[2017-05-08 18:35] mbjoseph commented on #277
I will keep an eye out for extra stuff associated with NEON data skills authors.

[2017-05-08 18:36] mbjoseph commented on #277
I can set this up to clean the author md files before writing new ones - that should keep us from having 1) orphan md files, and 2) manually deleting things.

[2017-05-08 18:37] lwasser commented on #277
yeeassssss orphans sound sad. and i'm too tired to manually delete things so  👍 👍 👍

[2017-05-08 18:40] lwasser commented on #278
@mbjoseph  me again - can you please remind me -- do i add authors manually to this list? i noticed some are not here so it's not a part of our make workflow? is that correct?

[2017-05-08 18:40] mbjoseph commented on #277
Yes my brain is not very good at set operations anyway, even when I'm totally alert!

[2017-05-08 18:51] mbjoseph commented on #278
Hey @lwasser

1) I don't think URLs work in the author bios, based on the way this page renders: http://earthdatascience.org/authors/neon-data-skills/

2) As it currently stands, we need to add authors manually to the csv file, along with their bios.

[2017-05-10 17:16] mbjoseph commented on #259
In the process of doing this, it seems to me that all of the markdown files and directories in `earthlab.github.io/org/topics` would benefit from autogeneration, rather than manually writing these files.

If this sounds good to @lwasser, I'll do this as part of the programmatic checking with the following logic:

If a topic/subtopic pair exists in `_data/topics.yml` then we can autogenerate the re

[2017-05-10 22:30] mbjoseph commented on #259
Almost done with this. Last thing is dealing with the case of multiple subtopic entries associated with one topic in a post, e.g., the case here: https://github.com/earthlab/earthlab.github.io/blob/master/_posts/course-materials/earth-analytics/week-1/setup-r-rstudio/2016-12-04-setup-05-working-directory.md

[2017-05-11 13:59] mbjoseph opened #293 "Check internal links agains generated site, not deployed site"
From @lwasser:

The problem is that if the live site doesn’t have the md page travis fails. The config file is now testing against the live site Can we fix this? It’s going to be an ongoing issue. Can we force travis to use a config without the url so it builds a local version and doesn’t test against the live site?

[2017-05-11 14:34] lwasser commented on #293
Note: this file
https://github.com/earthlab/earthlab.github.io/blob/master/_config.yml
is where the site.url is populated from.

Specifically this line

`url  : "http://earthdatascience.org"`
needs to be commented out when you build locally to ensure you're doing a fully local test rather than testing againsted the live site like so:

`url  :  #"http://earthdatascience.org"`
When the url is commen

[2017-05-11 14:38] mbjoseph commented on #293
Maybe we can also have a dev _config.yml file instead of having to modify the existing one? https://mademistakes.com/articles/using-jekyll-2016/

[2017-05-11 14:42] lwasser commented on #293
Oh – I just did a quick scan but how cool is this guy? That is the perfect solution if it works?!! This has been an ongoing issue for me for all of my Jekyll sites. Then you forget you’ve modified the config and ofcourse run into issues with the live site… cool!

[2017-05-12 19:12] #293 closed

[2017-05-12 19:27] mbjoseph opened #300 "Do we need this file?"
Hiya @lwasser - it seems like you figured out nested lists using your awesome liquid ninjitsu. Do we still need this file?

https://github.com/earthlab/earthlab.github.io/blob/master/working-code/nested-lists

[2017-05-12 21:41] lwasser commented on #300
NO – delete it?? Or you want me to?

Leah

[2017-05-16 19:01] #300 closed

[2017-05-16 19:05] #239 closed

[2017-05-16 21:03] #259 closed

[2017-05-17 15:20] mbjoseph commented on #268
Good point - my preference would be to include all of the file formats as subtopics as we currently do, because we only have to maintain `_data/topics.yml`. I would also guess that people are going to search for the specific file formats that they are working with, rather than a more general version, e.g., "How to XYZ a JSON file" rather than "How to XYZ a structured data file".

[2017-05-17 15:26] mbjoseph commented on #243
Looks like we're close to finishing this one @lwasser: just two points from the original list seem to be lingering:

1. Currently the tag pages have a "by date" order. There is likely a better way to organize the lessons but we need to think more about what that should be. If they are part of a set we could organize them sequentially but that will get complicated.

I think listing by date is fine

[2017-05-17 16:26] lwasser commented on #243
Yes - we are getting there @mbjoseph i was thinking the missing data would fit in a "clean data" type category -- then i thought maybe we could change find-and-manage to `find-manage-and-clean data`. Put missing data values in that section.

i think generally there are some common key concepts associated with NA values - even though we handle them in a structurally different way with raster, vs cs

[2017-05-17 16:27] lwasser commented on #243
I'm fine with ignoring the order by date issue for the time being! i think as we use the site we'll have ideas as to how to continually improve it :) Let's just figure out a home for missing data and then i'll ensure the wiki is updated and we can close this!! yay!

[2017-05-17 17:18] lwasser commented on #268
Ok! so let's leave it as is then! i'll close this issue and will move this back to the other issue that is almost closed. Thanks @mbjoseph !!

[2017-05-17 17:18] #268 closed

[2017-06-01 19:40] lwasser commented on #243
closing this! the tag list has been moved to the wiki!

[2017-06-01 19:40] #243 closed

[2017-06-01 20:25] lwasser opened #309 "Week 3 - edits"
## Week 3
- [x] Break out lessons into intro to raster and then lidar data in R...
   - [x] use the DC lessons about raster data --
- [x] Make sure the learning objectives per lesson are correct.
- [x] Review lesson titles and tags
- [x] Review learning objectives and page descriptions for each lessons
- [x] Add geotiff lessons

[2017-06-01 23:08] lwasser commented on #207
it may be better to introduce classification in the uncertainty section? not sure.

[2017-06-28 20:31] lwasser opened #321 "Reminder to add the lidr package to the lidar lessons in week -- 3"
Note to self -- that this is super cool and should be covered in the fall.

[2017-07-21 16:26] lwasser opened #325 "Consider this top bar navigation to move through lessons"
https://data-lessons.github.io/cloud-genomics/02-why-cloud-computing/

[2017-08-03 23:19] #309 closed

[2017-08-03 23:20] lwasser opened #329 "All course lessons need a module-type: yaml element"
we need a module-type: "class" on all lessons in the yaml

This may be a good thing for @lherwehe to look for when you're editing :) i've been adding it as well.
We can sit down and talk about a style guide to ensure things are correct on all of the lessons ...

[2017-08-09 14:53] lwasser opened #332 "MODIS lesson updates"
given the course will ultimately be more advanced -- update the modis lessons to include the raw data lessons with an overview of bitrasters ...

[2017-08-09 15:45] lwasser opened #336 "travis is freaking out"
hey @mbjoseph i have no idea why but travis all of a sudden has issues with our https protocol.

just a notice - if you happen to know what is going on please let me know. if not... maybe it will settle down later today?

[2017-08-09 20:41] mbjoseph commented on #336
yeesh @lwasser - I have no clue what's happening here.

[2017-08-09 22:43] lwasser commented on #336
ok... i've tried several things... if it's still doing this tomorrow... is it worth looking into this

https://stackoverflow.com/questions/41522256/how-can-i-avoid-travis-ci-ssl-errors

i can also contact cloudflare who is handling the ssl but it seems to me the site is working just fine ...
thanks @mbjoseph  i don't know what triggered this... it's been just fine. for weeks now.

[2017-08-21 20:57] lwasser opened #337 "blog post - h1 vs title"
- [ ] write code to diff between h1 and title in the body of posts...

[2017-10-10 00:46] lwasser opened #438 "weeks 7-9"
Week 7 - https://earthdatascience.org/courses/earth-analytics/spectral-remote-sensing-landsat/

- [ ] turn into spectral-remote-sensing/
- [ ] Keep lessons 1-4
- [ ] After this lesson - create a short lesson on building regular expression based patterns to query data in the list.files() function: https://earthdatascience.org/courses/earth-analytics/spectral-remote-sensing-landsat/landsat-bands-geo

[2018-06-09 03:23] lwasser opened #496 "https"
github now supports native https!

https://help.github.com/articles/troubleshooting-custom-domains/#https-errors

let's fix the site so we no longer need to use cloudflare for the security layer.

[2018-06-19 14:17] lwasser commented on #496
this has been implemented

[2018-06-19 14:17] #496 closed

[2018-06-19 14:17] #438 closed

[2018-06-19 14:17] #337 closed

[2018-06-19 14:18] #332 closed

[2018-06-19 14:18] lwasser opened #500 "JSON data for twitter lessons - Broken Link"
For some reason the figshare link is incorrect

https://www.earthdatascience.org/courses/earth-analytics/get-data-using-apis/text-mine-colorado-flood-tweets-science-r/

Update the data and the link and repost!

[2018-07-17 19:07] lwasser opened #503 "make file failing - r code error"
hey @mbjoseph i wondered if you had energy to revisit our make file. when i run it these days i'm getting the error below. it seems to be happening on this apply statement with `yaml2df`. do you have any time to have a look? i've been manually adding authors but it would be nice to have this functionality back to do it automagically and check things as we go.
[code]

[2018-07-17 19:08] #325 closed

[2018-07-17 19:09] lwasser commented on #263
closing this given the website redesign

[2018-07-17 19:09] #263 closed

[2018-07-17 19:09] lwasser commented on #207
this has been done!!

[2018-07-17 19:09] #207 closed

[2018-07-17 19:09] lwasser commented on #254
because the entire course has been redesigned closing this!

[2018-07-17 19:09] #254 closed

[2018-07-17 19:09] #205 closed

[2018-07-17 19:10] #231 closed

[2018-07-17 19:10] #75 closed

[2018-07-17 19:10] lwasser commented on #24
closing this given the website redesign!

[2018-07-17 19:10] #24 closed

[2018-07-17 19:10] #17 closed

[2018-07-17 19:11] #19 closed

[2018-07-17 19:23] mbjoseph commented on #503
This is a blast from the past @lwasser! I will take a look.

[2018-07-18 23:18] #503 closed

[2018-07-27 23:10] lwasser opened #517 "travis issues"
Looking closely at our travis builds.. some things are now working which means that i can actually see the list of travis flags that are occurring.

issues
- [ ] currently leaflet files are posted with embedded code to run the maps -- https://github.com/gjtorikian/html-proofer/issues/459 - in this issue i can "supposedly" ignore a directory - we need to do this to produce usable logs to get closer

[2018-07-27 23:16] lwasser opened #519 "too many branches!"
hey @mbjoseph  we have a LOT of very dated branches here and it's becoming unweildy to manage. are you OK with removing old / stale branches from our repo? i've been removing some of mine. they are not being used and make it hard when submitting PR's as our site grows!! But i want your OK before cleaning up things. And perhaps you could delete some of the very old ones that you have created that y

[2018-07-28 03:04] mbjoseph commented on #519
Indeed! I just deleted a bunch of mine, but left yours alone. Crazy to think some of these are already 2 years old.

![](https://media.giphy.com/media/qjCAPSOtefNoA/giphy.gif)

[2018-07-30 14:11] lwasser commented on #519
I know, right? i was thinking the same thing!! time really goes by quickly!! Thank you so much @mbjoseph i'll continue to clean up branches. believe it or not i removed a lot of mine last week and STILL there are more :)

[2018-07-30 14:13] lwasser commented on #519
ahhh so much better. thanks!! i'm happy seeing that cleaned up!  closing this!

[2018-07-30 14:13] #519 closed

[2018-07-30 15:28] lwasser opened #522 "Can you kindly help me troubleshoot alt tags? & some broken links"
Hey @mbjoseph  me again...
now that i have the site mostly working... i'm going through and fixing missing alt tags...
Would you be open to helping  me update the git workshop that we did? See below.

![screen shot 2018-07-30 at 9 23 17 am](https://user-images.githubusercontent.com/7649194/43406848-55acaed8-93da-11e8-9550-02c61e426521.png)

What you'd need to do is go here:

https://github.com/ear

[2018-07-30 16:52] lwasser commented on #522
hey @mbjoseph  me again -- i also found some bad links in the tutorials. Please see here:
https://travis-ci.org/earthlab/earthlab.github.io/jobs/409901460#L898

I suspect that some of these links may  be OK. if they are ok we can ignore the error using the `data-proofer-ignore` argument as follows:

### Ignore a link that is not passing HTML proofer but we know works:
HTML url:
[code]

Markdown ur

[2018-07-30 17:37] mbjoseph commented on #522
Heya @lwasser yes I'm happy to help fix these. This week and next are pretty busy for me, but I should have some time later this month after ESA to work on this!

[2018-08-02 00:06] lwasser commented on #522
Thank you Max!!

[2019-04-04 11:47] zouhx11 opened #722 "Where is clip_data.py?"
I see this module on many website pages, yet don't know where to find it.

[2019-04-04 11:52] zouhx11 commented on #722
Sorry, I found out it has been moved to earthpy.

[2019-04-04 11:52] #722 closed

[2019-04-04 13:02] lwasser commented on #722
@zouhx11 thank you for the issue. Glad you found it! Yes we have moved the module into earthpy and will be slowly updating the lessons over the next few months!

[2019-04-04 17:06] zouhx11 opened #723 "Where can I download cloud free data?"
I can't find  the 'cold-springs-landsat-hw' folder in Cold Springs Fire Data

[2019-05-03 16:59] lwasser commented on #723
hey @zouhx11  that data is data you need to download as a part of  week 8.  can you please provide a URL where you see that directory name referenced?

this lesson shows you how to download the cloud free data
https://www.earthdatascience.org/courses/earth-analytics-python/multispectral-remote-sensing-modis/get-landsat-data-earth-explorer/

[2019-06-24 15:35] lwasser commented on #723
closing this as there have been no responses in a few months!!

[2019-06-24 15:35] #723 closed

[2019-07-24 23:37] lwasser opened #730 "Blog pages should list authors"
right now they are not listed in the blog page!

[2019-07-24 23:57] lwasser commented on #730
https://github.com/earthlab/earthlab.github.io/pull/731 this actually is just a yaml issue... see pr with the required fixes to the yaml!

[2019-08-22 14:21] #730 closed

[2019-08-22 14:51] jlpalomino opened #750 "Fix spacing between authors line and module description box on workshop lesson 1 page"
The authors line on the workshop lesson 1 renders on top of the orange box that holds the module description (see [lesson 1 for Setup Your Earth Analytics Python Env](https://www.earthdatascience.org/workshops/setup-earth-analytics-python/).  The spacing needs to be fixed, so that there is space (separation) between the author line and the orange box for the module description, similar to the [oth

[2019-08-23 23:54] lwasser commented on #750
The issue jenny is referring to is a CSS issue. should be a quick fix when i have time.

<img width="852" alt="Screen Shot 2019-08-23 at 5 54 09 PM" src="https://user-images.githubusercontent.com/7649194/63629388-0ee06580-c5cf-11e9-91b0-9cd7e6361813.png">

[2019-09-03 15:03] mbjoseph commented on #53
Closing this (out of date!)

[2019-09-03 15:03] #53 closed

[2019-09-03 15:04] mbjoseph commented on #278
Closing (out of date)

[2019-09-03 15:04] #278 closed

[2019-09-03 15:05] lwasser commented on #25
ok closing this too since we are doign a web redesign!!

[2019-09-03 15:05] #25 closed

[2019-09-10 15:53] jlpalomino opened #776 "Add dynamic table of contents to main page of Intro to EDS textbook"
The [first page of the textbook](https://www.earthdatascience.org/courses/intro-to-earth-data-science/) has a table of contents that is currently manually updated. The request is to replace this manually updated table with a dynamic table of contents that is populated as new sections and chapters are added.

The current code for the table of contents is a Markdown table that is manually updated:
[

[2019-09-10 16:15] lwasser commented on #776
awesome. this will be a fun little project. i'm pretty sure i can knock this out this week @jlpalomino !! :) thank you for such an explicit issue, the markdown code will make it very easy for me to create this.

[2019-09-11 17:30] jlpalomino opened #782 "Link to R course needs to be re-added to main page of earthdatascience.org under Online Earth Data Science Courses"
The R course is missing from the list of courses on the main page of earthdatascience.org and needs to be added under Online Earth Data Science Courses:

![image](https://user-images.githubusercontent.com/4017492/64720297-5f890700-d487-11e9-9624-dcc3fcd9ebeb.png)

[2019-09-11 22:31] lwasser commented on #782
thank you @jlpalomino ... easy fix. it was a mismatch in files and i had to do a manual update. easy peasy :) the fix should be live in 5 minutes and then we can close this!! great catch!! phew.

[2019-09-11 22:35] lwasser commented on #782
fixed!! closing this. thanks again. also fixed the logo while i was at it.

[2019-09-11 22:35] #782 closed

[2019-09-13 17:52] lwasser commented on #776
@jlpalomino ok i've written a little include that i hope will work for this.

try to add this to the course homepage
`{% include textbook-toc.html %}` and let me know how it goes. this will only work if you pull down this branch. if it works, i can merge this. it is building for me locally right now just fine.

Also i noticed that this landing page has a date in the name of 2018-07-09 which is not

[2019-09-17 16:32] lwasser commented on #776
this has been implemented @jlpalomino now you just need to update the pages. i'll go ahead and do it for the github section / pages.

[2019-10-10 15:26] lwasser opened #799 "Textbook numbering"
The TOC on the website is now a but confusing.
Add a boolean if `chapter`

Why dont we add
for sections:
Section 1:
TITLE OF SECTION HERE

and then for chapters
Chapter 1
Chapter title here

<img width="250" alt="Screen Shot 2019-10-09 at 2 04 02 PM" src="https://user-images.githubusercontent.com/7649194/66516152-aaedff80-ea9d-11e9-92bd-596d63b91bfa.png">

[2020-04-06 15:13] lwasser opened #914 "Missing Position - FIELD SEO"
Google is throwing flags because we don't have the position element in our breadcrumbs.
Minimal mistakes has implemented this so it should be easy to add here too

https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/breadcrumbs.html

[2020-04-07 16:48] lwasser commented on #914
UPDATE: i fixed this in theory and revalidated through google. should get a notice in a few days regarding whether i need to add anything else.

[2020-07-14 17:51] lwasser commented on #776
completed via #784

[2020-07-14 17:51] #776 closed

[2020-07-14 22:42] lwasser opened #943 "Be sure to update single layout with ALL courses and textbooks linking to the certificate!"
[code]

[2020-07-14 23:21] lwasser commented on #943
currently not working for tutorials and workshops. not sure why but need to revisit

[2020-07-15 01:01] lwasser commented on #943
complete via #945

[2020-07-15 01:01] #943 closed

[2020-07-29 22:25] nkorinek opened #950 "Update README instructions for Linux install"
Hey! After struggling to install ruby (again), I figured I should document all the issues I've run into installing ruby and add it to our README. Having done this on two fresh builds of Linux, I ran into two issues with the directions constantly.

1. `sudo apt-get ruby-dev` should be `sudo apt-get install ruby-dev`. It's just missing the install command.

2. Both times, `nokogiri` caused me issues

[2020-08-13 22:44] lwasser commented on #950
@nkorinek this is so great. can you please update our readme with these two items and link the PR to this issue? Great catch!

[2020-08-13 22:44] lwasser commented on #950
i really hate that ruby install. it's just weird that it worked for me but not for you on linux. but i can see if a core library is missing... running into issues!

[2020-11-25 19:07] dcslagel opened #989 "Update README.md with current travis-ci.com link and reorganize the DOI paragraph."
#### Description:

This issue is to track a couple of updates to README.md:
- Previous build link at travis-ci.org re-directs to travic-ci.com.
-The DOI paragraph as one DOI link before and one below the request to cite them

[2021-01-28 13:06] mh-skjelvareid opened #994 "Inverted hillshade colormap in lesson 6 for chapter 4 in intermediate textbook"
This is the first time i file an issue on GitHub, so excuse me if I don't follow all conventions - just trying to help. :)

I have been working though the lessons in the intermediate earth data science textbook. Lesson 6 in chapter 4 ( https://www.earthdatascience.org/courses/use-data-open-source-python/intro-raster-data-python/fundamentals-raster-data/raster-data-exercises/ ) uses a hillshade dat

[2021-01-28 18:46] lwasser opened #995 "Move CI from TRAVIS from GH Actions"
We need to slowly move from Travis given the costs to run there. actions is also much easier given it 's all within the same interface.

[2021-01-28 18:51] lwasser commented on #994
hi  there @mh-skjelvareid  !! What a great observation!! Let me fix that now.  i'm working on some  lesson updates. so  glad you're  finding the  textbook useful. That's super interesting. i've been using `Greys` and `Greys_r` for a while. But  `gray` does look much  better. the lesson is updated and a push is  coming down the pipeline. it should be live within the hour. i'll post here again when

[2021-01-28 19:12] #994 closed

[2021-01-28 19:12] lwasser commented on #994
ok! i  just pushed the changes. it may take github  5-10 minutes to  build the updates but it should be fixed. Please reopen if you  still see issues!! thank you so much!

[2021-01-28 19:13] #20 closed

[2021-01-28 19:13] #161 closed

[2021-01-28 19:13] #256 closed

[2021-01-28 19:13] #264 closed

[2021-01-28 19:13] #321 closed

[2021-01-28 19:13] #329 closed

[2021-01-28 19:13] #336 closed

[2021-01-28 19:13] #500 closed

[2021-01-28 19:13] #517 closed

[2021-01-28 19:13] #522 closed

[2021-01-29 13:29] mh-skjelvareid commented on #994
Looks good (and fast, too)! :) And thanks for making all your resources openly available, they are super useful for someone (like me) who's just getting into this field. If I come across other issues or find some other way I can contribute, I'll be sure to let you know.

Keep up the good work!

[2021-02-02 17:12] lwasser commented on #994
so great to hear that positive feedback. thank you for it.

[2021-03-23 23:30] alma-pi opened #1005 "Mixed-up labels for elevation difference of Colorado flood data in intermediate textbook"
I have been working on the online intermediate earth data science textbook and found one plot of the Colorado flood to be inconsistent with the data.
In [Section 9, Chapter 20, Lesson 5](https://www.earthdatascience.org/courses/use-data-open-source-python/data-stories/colorado-floods-2013/measure-changes-in-terrain-caused-by-floods/), the Digital Elevation Model of Difference (DoD) is shown for th

[2021-09-03 22:59] sdtaylor opened #1018 "feedback on new qa mask package"
Hi all. Recently I was doing some work with modis data and spent a lot of time figuring out the QA bands which are packed into bits. There are a few packages which deal with this but are pretty limited, and every tutorial I found on it in python essentially just did it manually. So I put together a package which I tried to make as straightforward as possible.

You all do a lot of remote sensing &

[2021-10-15 21:43] nkorinek commented on #995
Done #1024 @lwasser

[2021-10-15 21:44] #995 closed, assigned to nobody

[2021-10-15 21:55] lwasser commented on #995
nice work  @nkorinek !!

[2021-11-10 19:31] dcslagel commented on #989
This is almost a year old and not active, so closing for now. It can be reopened in the future if needed.

DC

[2021-11-10 19:31] #989 closed

[2022-01-11 16:59] lwasser opened #1032 "licensing issues and reuse"
The goal of our online textbooks is that people can use them in their classes. This was even written into the HDR-EDSC award. However TOO TOO many people have contacted me or mentioned they wont' use it in their class because of the NC element. And by having it no derivs, it wont allow others to update in the future. Will work on keeping the course materials NC but the textbooks may be better serv

[2022-01-15 00:20] #1032 closed

[2022-02-15 20:47] lwasser opened #1037 "Update UTM links to professional program on the website"
hey there @nkorinek @eculler we need to make a few updates to the eds website. Specifically we want to update the UTM link to the professional program in a few spots.

* there are two links on the [landing page](https://www.earthdatascience.org/) - one is the top bar and the other is an image on the page
  * Please note that if you see something like a top bar, more often than not it's an include

[2022-03-15 19:21] nkorinek commented on #1037
Here's the updated link for this: https://earthlab.colorado.edu/earth-data-analytics-professional-graduate-certificate?utm_source=earthdatascience&utm_medium=website&utm_campaign=certificate-2022&utm_id=certificate-2022

[2022-04-07 16:57] eculler opened #1040 "Option to serve website locally using docker"
The installation process is time-consuming; docker will enable more people to review website changes before they go live.

[2022-04-08 17:29] eculler opened #1042 "Lesson on Code Review for the GitHub Collaboration module"
Students have to use the code review tools in class. Include this workflow in the GitHub collaboration chapter.

[2022-05-20 19:57] #1040 closed